<!DOCTYPE html >
<html>
<head>
    {% load static %}
    {% load i18n %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static "css/ui-darkness/jquery-ui-1.9.0.custom.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/dark.css" %}"/>
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/underscore-min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/backbone-min.js" %}" type="text/javascript"></script>  
    <script src="{% static "js/jquery-ui.custom.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.fileupload.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"
      type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/servo.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            window.app = new ServoApp();
            var url = window.location.pathname;
            $('a[href$="'+url+'"]').parent().addClass('current');
            //Backbone.history.start({pushState: true});
        });
    </script>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div id="page">
        <div id="popup">
            <div class="content"></div>
            <div id="status_bar"></div>
            <div id="drawer" class="searchTab"></div>
            <div class="buttons">
                <img id="pager_spinner" src="/static/images/ajax-loader.gif"/>
                <div>
                    <a href="javascript:;" class="save button"><span>{% trans 'OK' %}</span></a>
                    <a href="javascript:;" class="cancel button"><span>{% trans 'Peruuta' %}</span></a>
                </div>
            </div>
        </div><!-- //#popup -->

    <div id="toolbar">
        <div class="view column" style="width:228px;border-right:1px solid #222">
            <div class="button view calendar"></div>
            <div class="button view wiki" title="Wiki" style="left:40px"></div>
            <div class="button view shell" title="Shell" style="left:80px"></div>
        </div>
        <div class="view column" style="left:230px;right:0;width:auto">
            {% block secondary %}{% endblock secondary %}
            <div class="view button user shownext" style="right:5px"></div>
            <div class="view popup-menu" style="right:8px;top:45px;width:160px">
                <ul>
                    <li><a href="/orders/index/user/filipp/" class="home">{% trans "Kotisivu" %}</a></li>
                    <li><a href="/message/" class="message">{% trans "Viestit" %}</a></li>
                    <li><a href="/user/settings" class="prefs popup">{% trans "Asetukset" %}...</a></li>
                    <li><a href="/user/logout" class="lock popup">{% trans "Kirjaudu ulos" %}...</a></li>
                </ul>
            </div>
        </div>
        <div class="view" id="searchbox">
            <form action="/search" method="get">
                <input type="text" id="query" name="query"/>
            </form>
        </div>
    </div><!-- //#toolbar -->

    <div id="main_view">
        <div id="side_pane">
{% block sidebar %}
            <ul>
                <li>
                    <span class="head">{% trans "Tilaukset" %}</span>
                    <ul>
                        <li class=""><a href="/orders/index/user/nobody/" class="table">{% trans "Jonossa" %}</a></li>
                        <li><a href="/orders/index/state/1/" class="table">{% trans "Avoimet" %}</a></li>
                        {% block order_searches %}
                              
                        {% endblock order_searches %}
                    </ul>
                </li>
                <li>
                    <span class="head">{% trans "Varasto" %}</span>
                    <ul>
                        <li><a href="/products/" class="table">{% trans "Tuotteet" %}</a></li>
                        <li><a href="/products/po/incoming/" class="down">{% trans "Saapuvat" %}</a></li>
                        <li><a href="/products/outgoing/" class="up">{% trans "Lähtevät" %}</a></li>
                        <li><a href="/products/po/index/" class="table">{% trans "Ostotilaukset" %}</a></li>
                        <li><a href="/products/invoices/" class="table">{% trans "Myyntilaskut" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head">{% trans "Asiakkaat" %}</span>
                    <ul>
                        <li><a href="/customers/" class="ab">{% trans "Selaa" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head">{% trans "Laitteet" %}</span>
                    <ul>
                        <li><a href="/devices/" class="device">{% trans "Selaa" %}</a></li>
                        <li><a href="/devices/specs/" class="db">{% trans "Mallit" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head">{% trans "Ylläpito" %}</span>
                    <ul>
                        <li><a href="/admin/settings/" class="prefs popup">{% trans "Asetukset" %}</a></li>
                        <li><a href="/admin/queues/" class="inbox">{% trans "Jonot" %}</a></li>
                        <li><a href="/admin/statuses/" class="color">{% trans "Statukset" %}</a></li>
                        <li><a href="/admin/locations" class="globe">{% trans "Toimipaikat" %}</a></li>
                        <li><a href="/admin/users/" class="user">{% trans "Käyttäjät" %}</a></li>
                        <li><a href="/admin/gsx/accounts/" class="db">{% trans "GSX-tilit" %}</a></li>
                        <li><a href="/admin/fields/" class="db">{% trans "Kentät" %}</a></li>
                        <li><a href="/admin/templates/" class="document">{% trans "Pohjat" %}</a></li>
                        <li><a href="/admin/files/" class="folder">{% trans "Tiedostot" %}</a></li>
                    </ul>
                </li>
{% endblock %}
            </ul>
        </div><!-- //#side_pane -->
        <div id="main_pane">
            <div id="main_content">
                {% block content %}{% endblock content %}
            </div><!-- //#main_content -->
        </div><!-- //#main_pane -->
    </div><!-- //#main_view -->
</div><!-- //#page -->
</body>
</html>
