<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "js/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "login.css" %}" rel="stylesheet">
    <title>servo | login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
