<form action="{{ action }}" method="post" accept-charset="utf-8" id="new_tag_form">
  {% csrf_token %}
  <input type="hidden" name="type" value="{{ type }}"/>
  <input id="newTag" type="text" class="shortest" name="title"/>
</form>

<script type="text/javascript">
    $.get("/tag/index", function(tags) {
        $("#newTag").focus();
        $("#newTag").autocomplete({source: tags});
    });

    $("#new_tag_form").submit(function() {
        var url = $("#tags").data("url");
        return true;
    }); 
</script>
