{% load i18n %}
<form method="post" action="/document/save" rel="attachments">
    {% csrf_token %}
    {{ form }}
</form>
<script type="text/javascript">
	$('#id_content').fileupload();
	$('.autocomplete').autocomplete({source: '/tag/index/document'});

	$('.autocomplete').keydown(function(e)
    {
        if(e.keyCode == 13) {
            $.post("/tag/save/document", { tag: $(this).val() });
            $('<input type="text" name="tags" class="autocomplete tag" style="width:76px"/>')
                .insertBefore($("#newTag")).val($(this).val());
            $(this).val('');
        }
 	});

  $(".tag").keydown(function(e) {
    if($(this).val().length < 1) {
        $(this).remove();
        e.preventDefault();
    }
  });
</script>
