{% load i18n %}
<form method="post" action="/document/save" rel="attachments">
  {% csrf_token %}
  {% if id %}
    <input type="hidden" name="id" value="{{ id }}"/>
  {% endif %}
	<label>{% trans "Nimi" %}:</label>
	<input type="text" name="name" value="{{ name }}"/>
	<br/>
	<label>{% trans "Kuvaus" %}:</label>
	<textarea name="description">{{ description }}</textarea>
	<br/>
	<label>{% trans "Tiedosto" %}:</label>
	<input type="file" name="incoming" id="fileupload"/>
</form>
<script type="text/javascript">
	$("#fileupload").fileupload();
</script>
