{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{% block secondary %}

<div data-url="/files/create" class="view button new popup" title="{% trans "Uusi tiedosto" %}"></div>

{% endblock secondary %}

{% block content %}

<div class="tableView" id="attachments" data-url="/admin/files">
    <table>
        <thead><tr><th colspan="5">{% trans "Tiedostot" %}</th></tr></thead>
        <tbody>
{% for file in files %}
            <tr data-url="/document/edit/{{ file.id }}" class="{% cycle 'odd' 'even' %}">
                <td><a href="/document/view/{{ file.id }}" class="window">{{ file.name }}</a></td>
                <td>{{ file.description }}</td>
                <td>{{ file.content.size }}</td>
                <td>{{ file.uploaded_by }}</td>
                <td>{{ file.uploaded_at }}</td>
            </tr>
{% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
