{% load i18n %}
<form
    method="post"
    rel="messages"
    accept-charset="utf-8"
    action="/message/save">
    {% csrf_token %}
    <input
        name="_id"
        type="hidden"
        value="<?php print $this->message['_id'] ?>"/>

<?php if(isset($this->message['order'])): ?>
    <input type="hidden" name="order" value="<?php print $this->message['order'] ?>"/>
<?php endif ?>
    <input
        name="path"
        type="hidden"
        value="<?php print $this->message['path'] ?>"/>
        
    <select class="label chooser" rel="body">
        <option value="0">{% trans 'Viesti' %}…</option>
<?php foreach($this->templates as $t): ?>
        <option value="<?php print $t['_id'] ?>"><?php print $t['title'] ?></option>
<?php endforeach ?>
   </select>
   
    <textarea
        id="body"
        name="body"><?php print $this->escape($this->message['body']) ?></textarea>
    <br/>
    <label>{% trans 'Sähköposti' %}:</label>
    <input
        type="text"
        id="mailto"
        name="mailto"
        value="<?php print $this->escape($this->message['mailto']) ?>"/>
    <br/>
    <label>{% trans 'Puhelin' %}:</label>
    <input
        id="smsto"
        type="text"
        name="smsto"
        value="<?php print $this->escape($this->message['smsto']) ?>"/>
    <br/>
    <label>{% trans 'Liite' %}:</label>
    <input type="file" id="fileupload" name="incoming"/>
    <ul id="attachments"></ul>
</form>
<script type="text/javascript">
    $(".chooser").change( function() {
        var ta = "#" + $(this).attr("rel");
        $(ta).load("/templates/view", {id: $(this).val()});
    });

    $("#fileupload").fileupload({
        url: "/attachment/create",
        done: function(e, data) {
            var file = data.result;
            $("<li/>").text(file.name).appendTo($("#attachments"));
            $("<input/>").attr("type", "hidden")
                .attr("name", "attachments["+file._id+"]")
                .val(file.name)
                .insertAfter("#fileupload");
        }
    });
</script>
