{% load i18n %}
<form
    method="post"
    rel="messages"
    accept-charset="utf-8"
    action="/message/save">
    
    {% csrf_token %}
    
    <input name="_id" type="hidden" value="{{ message.id }}"/>
    <input name="path" type="hidden" value="{{ message.path }}"/>
    <input type="hidden" name="order" value="{{ message.order_id }}"/>
    
    <select class="label chooser" rel="body">
        <option value="0">{% trans 'Viesti' %}…</option>
{% for t in templates %}
        <option value="{{ t.id }}">{{ t.title }}</option>
{% endfor %}
   </select>
   
    <textarea id="body" name="body">{{ message.body }}</textarea>
    <br/>
    <label>{% trans 'Sähköposti' %}:</label>
    <input type="text" id="mailto" name="mailto" value="{{ message.mailto }}"/>
    <br/>
    <label>{% trans 'Puhelin' %}:</label>
    <input id="smsto" type="text" name="smsto" value="{{ message.smsto }}"/>
    <br/>
    <label>{% trans 'Liite' %}:</label>
    <input type="file" id="fileupload" name="incoming"/>
    <ul id="attachments"></ul>
</form>
<script type="text/javascript">
    $(".chooser").change( function() {
        var ta = "#" + $(this).attr("rel");
        $(ta).load("/templates/view", {id: $(this).val()});
    });

    $("#fileupload").fileupload({
        url: "/attachment/create",
        done: function(e, data) {
            var file = data.result;
            $("<li/>").text(file.name).appendTo($("#attachments"));
            $("<input/>").attr("type", "hidden")
                .attr("name", "attachments["+file._id+"]")
                .val(file.name)
                .insertAfter("#fileupload");
        }
    });
</script>
