{% extends "customers/index.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock sidebar %}

{% block detail_block %}
<form method="post" action="{% url customers.views.save id %}"
  accept-charset="utf-8" 
  class="form-horizontal">
  {% csrf_token %}
  <legend>{% trans "Muokkaa asiakasta" %}</legend>
  {% include "form_snippet.html" %}

{% for p in customer.contactinfo_set.all %}
  <div class="control-group">
    <select name="keys" class="control-label">
      <option>{{ p.key }}</option>
    </select>
    <div class="controls">
      <input type="text" name="values" value="{{ p.value }}"/>
    </div>
  </div>
{% endfor %}
  <legend>{% trans "Lisätiedot" %}</legend>
  <div class="control-group property">
    <select name="keys" class="control-label" data-value="{{ fields.0.title }}">
    {% for f in fields %}
      <option>{{ f.title }}</option>
    {% endfor %}
    </select>
    <div class="controls">
      <input type="text" name="values"/>
    </div>
  </div>
  {% include "form_buttons.html" %}
</form>

{% endblock detail_block %}
