{% extends "default.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
  {% block sidebar %}
    {% include "customers/list.html" %}  
  {% endblock sidebar %}
  </div>

  <div class="span9">
    <ul class="nav nav-tabs">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Kaikki" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/customers/">{% trans "Kaikki" %}</a></li>
          {% for t in  tags %}
          <li><a href="{% url servo.views.customer.index tag=t.id %}">{{ t.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% block detail_block %}
    <a href="new/" class="btn btn-primary pull-right">{% trans "Uusi asiakas" %}</a>
    {% trans "Valitse asiakas..." %}
    {% endblock detail_block %}
  </div>
</div>

{% endblock content %}
