{% extends "modal.html" %}
{% load i18n %}

{% block header %}
    {% trans 'Poistetaanko asiakas' %} {{ customer.name }}?
{% endblock header %}

{% block body %}
    <p>{% trans 'Tämä poistaa myös kaikki asiakkaan kontaktit. Asiakkaan tilauksia ei poisteta.' %}</p>
{% endblock body %}

{% block footer %}
    <form action="{% url servo.views.customer.delete customer.id %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">{% trans "Poista" %}</button>
    </form>
{% endblock footer %}
