{% extends "customers/index.html" %}
{% load i18n %}
{% load servo_extras %}

{% block middle_column %}
<legend>{{ customer.fullname }}</legend>
  <dl class="dl-horizontal">
  {% if customer.email %}
      <dt>{% trans "Sähköposti" %}</dt>
      <dd><a href="{% url servo.views.note.edit recipient=customer.email %}">{{ customer.email }}</a></dd>
  {% endif %}
  {% if customer.phone %}
    <dt>{% trans "Puhelin" %}</dt>
    <dd><a href="{% url servo.views.note.edit recipient=customer.phone %}">{{ customer.phone }}</a></dd>
  {% endif %}
    <dt>{% trans "Osoite" %}</dt>
    <dd>{{ customer.street_address }}<br/>{{ customer.zip_code }} {{ customer.city }}</dd>
    {% for ci in customer.contactinfo_set.all %}
    <dt>{{ ci.key }}</dt>
    <dd>{{ ci.value }}</dd>
    {% endfor %}
  </dl>
  <div class="btn-group pull-right">
    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
      <i class="icon-cog"></i> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% if request.session.current_order %}
      <li><a href="{% url servo.views.customer.add_order customer.id request.session.current_order.id %}">{% trans "Vie tilaukselle" %} #{{ request.session.current_order.code }}</a></li>
    {% endif %}
      <li><a href="{% url servo.views.customer.create_order customer.id %}">{% trans "Luo tilaus" %}</a></li>
      <li class="divider"></li>
      <li><a href="{% url servo.views.customer.notes customer_id=customer.id %}">{% trans "Lähetä viesti" %}</a></li>
      <li><a href="{% url servo.views.customer.edit parent_id=customer.id %}">{% trans "Luo kontakti" %}</a></li>
      <li class="divider"></li>
      <li><a href="{% url servo.views.customer.edit customer_id=customer.id %}">{% trans "Muokkaa" %}</a></li>
      <li><a href="{% url servo.views.customer.move customer.id %}">{% trans "Siirrä" %}</a></li>
      <li><a href="{% url servo.views.customer.delete customer.id %}" data-modal="#modal">{% trans "Poista" %}</a></li>
    </ul>
  </div>
  <legend>{% trans "Tilaukset" %}</legend>
  {% include "orders/list.html" %}
{% endblock middle_column %}
