{% extends "queues/index.html" %}
{% load i18n %}
{% block content %}
<div class="tabView">
  <form method="post" action="/queue/save" accept-charset="utf-8" rel="queues">
    {% csrf_token %}
    <ul class="tabs"><li><a href="#info">{% trans 'Perustiedot' %}</a></li><li><a href="#statuses">{% trans 'Statukset' %}</a></li><li><a href="#templates">{% trans 'Pohjat' %}</a></li></ul>
{% if queue.id %}
    <input type="hidden" name="id" value="{{ queue.id }}" />
{% endif %}
      <div id="info" class="tab">
          <label>{% trans 'Nimi' %}:</label>
          <input type="text" name="title" value="{{ queue.title }}" />
          <br/>
          <label>{% trans 'Kuvaus' %}:</label>
          <textarea name="description">{{ queue.description }}</textarea>
          <br/>
          <label>{% trans 'GSX-tili' %}:</label>
          <select name="gsx_account">
{% for act in accounts %}
            <option value="{{ act.id }}">{{ act.title }}</option>
{% endfor %}
          </select>
      </div>
    
    <div id="statuses" class="tab">
        <table>
{% for status in statuses %}
            <tr>
                <td style="width:20px">
                    <input type="checkbox" class="toggle_row"
                    value="{{ status.id }}"
                    name="status.{{ status.id }}.id"/>
                </td>
                <td>{{ status.title }}</td>
                <td><input type="text" value="" name="status.{{ status.id }}.limit_green" /></td>
                <td><input type="text" value="" name="status.{{ status.id }}.limit_yellow" /></td>
                <td>
                    <select name="status.{{ status.id }}.limit_factor">
                    {% for k, v in status.FACTORS %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                    </select>
                </td>
          </tr>
{% endfor %}
        </table>
    </div><!-- //#statuses -->
    
    <div id="templates" class="tab">
        <label>{% trans "Pohja" %}:</label>
        <input type="text" id="filter_templates"/>
        <table>
{% for f in templates %}
            <tr>
                <td><input type="checkbox" name="attachments" value="{{ f.id }}"/></td>
                <td><a href="/documents/view/{{ f.id }}">{{ f.name }}</a></td>
            </tr>
{% endfor %}
        </table>
    </form>
</div>
{% endblock content %}