{% extends "two_column_layout.html" %}
{% load i18n %}
{% load servo_extras %}

{% block left_column %}
<div>
    <form method="get" action="">
        <input type="text" class="input-search" name="q" placeholder="{% trans "Hae artikkeleita..." %}"/>
    </form>
	<ul class="nav nav-tabs nav-stacked">
    {% for item in object_list %}
		<li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
    {% endfor %}
	</ul>
</div>

{% endblock left_column %}

{% block right_column %}
    <a href="/wiki/articles/new/" class="btn btn-primary">{% trans "Uusi artikkeli" %}</a>
{% endblock right_column %}
