{% extends "two_column_layout.html" %}
{% load i18n %}
{% load servo_extras %}

{% block col1 %}
<div>
    <form method="get" action="">
        <input type="text" class="input-search" name="q" placeholder="{% trans "Hae artikkeleita..." %}"/>
    </form>
	<ul class="nav nav-tabs nav-stacked">
    {% for item in object_list %}
		<li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
    {% endfor %}
	</ul>
</div>

{% endblock col1 %}


{% block col2 %}
    <a href="/wiki/articles/new/" class="btn btn-primary">{% trans "Uusi artikkeli" %}</a>
{% endblock col2 %}
