{% extends "articles/index.html" %}
{% load i18n %}
{% load markup %}

{% block right_column %}
    <h2>{{ object.title }}</h2>
    <small>{{ object.updated_by.get_full_name }} @ {{ object.updated_at }}</small>
    <p>{{ object.content|markdown }}</p>
    <hr/>
    <a href="/wiki/articles/new/" class="btn btn-primary">{% trans "Uusi" %}</a>
    <a href="edit/" class="btn btn-warning">{% trans "Muokkaa" %}</a>
    <a href="delete/" class="btn btn-danger">{% trans "Poista" %}</a>
{% endblock right_column %}
