{% load i18n %}
<div class="tabView">
    <ul class="tabs"><li><a href="#info">{% trans 'Perustiedot' %}</a></li><li><a href="#price">{% trans 'Hinnat' %}</a></li><li><a href="#stock">{% trans 'Varasto' %}</a></li><li><a href="#files">{% trans 'Liitteet' %}</a></li><li><a href="#gsx">{% trans 'GSX' %}</a></li></ul>

<form
    method="post"
    rel="products"
    accept-charset="utf-8"
    action="/products/save">
<?php if($this->isInstance): ?>
    <input name="sku" type="hidden" value="{{ product.number }}"/>
    <input
        name="idx"
        type="hidden"
        value="<?php print $this->product['idx'] ?>"/>
<?php endif ?>
    <input
        name="_id"
        type="hidden"
        value="<?php print $this->product['_id'] ?>"/>
    <div id="info" class="tab">
        <label>{% trans 'Koodi' %}:</label>
        <input
            id="code"
            name="code"
            type="text"
            class="ucase searchable"
            value="<?php print $this->escape($this->product['code'] )?>"/>
        <a class="search" href="javascript:;" data-url="/products/search-drawer"></a>
        <br/>
        <label>{% trans 'Nimike' %}:</label>
        <input id="title" type="text" name="title" value="{{ product.title }}"/>
        <br/>
<?php if($this->isInstance): ?>
        <label>{% trans 'Määrä' %}:</label>
        <input id="amount" type="text" name="amount[sold]" value="<?php print $this->product['amount']['sold'] ?>"/>
        <br/>
        <label>{% trans 'Sarjanumero' %}:</label>
        <input
            id="sn"
            name="sn"
            type="text"
            value="<?php print $this->product['sn'] ?>"/>
        <br/>
<?php endif ?>
        <label>{% trans 'Kuvaus' %}:</label>
        <textarea
            name="description"><?php print $this->escape($this->product['description']) ?></textarea>
<?php if(!$this->isInstance): ?>
        <br/>
        <div style="margin-left:85px">
<?php foreach($this->product['tags'] as $t): ?>
            <input
                type="text"
                name="tags[]"
                style="width:80px"
                class="autocomplete tag"
                value="<?php print $t ?>"/>
<?php endforeach ?>
            <input type="text" id="newTag" class="autocomplete" style="width:80px"/>
        </div>
<?php endif ?>
    </div><!-- //#info -->
    
    <div id="price" class="tab">
        <label>{% trans 'Ostohinta' %}:</label>
        <input 
            type="text"
            name="price[purchase]"
            value="<?php print $this->escape($this->product['price']['purchase']) ?>"/>
        <br/>
        <label>{% trans 'Vaihtohinta' %}:</label>
        <input
            type="text"
            name="price[exchange]"
            value="<?php print $this->product['price']['exchange'] ?>"/>
        <br/>
        <label>{% trans 'Kate %' %}:</label>
        <input 
            type="text"
            name="pct_margin"
            value="<?php print $this->escape($this->product['pct_margin']) ?>"/>
        <br/>
        <label>{% trans 'ALV %' %}:</label>
        <input
            type="text"
            name="pct_vat"
            value="<?php print $this->product['pct_vat'] ?>"/>
        <br/>
        <label>{% trans 'Perushinta' %}:</label>
        <input 
            type="text"
            name="price[notax]"
            value="<?php print $this->product['price']['notax'] ?>"/>
        <br/>
        <label>{% trans 'Myyntihinta' %}:</label>
        <input
            type="text"
            name="price[sales]"
            value="<?php print $this->product['price']['sales'] ?>"/>
    </div>
    <!-- //#price -->
    <div id="stock" class="tab">
        <label>{% trans 'Valmistaja' %}:</label>
        <input
            type="text"
            name="brand"
            value="<?php print $this->escape($this->product['brand']) ?>"/>
        <br/>
        <label>{% trans 'Takuu (kk)' %}:</label>
        <input
            type="text"
            name="warranty_period"
            value="<?php print $this->product['warranty_period'] ?>"/>
        <br/>
        <label>{% trans 'Hyllykoodi' %}:</label>
        <input type="text" name="shelf" value="<?php print $this->product['shelf'] ?>"/>
        <br/>
        <label>{% trans 'Tilattu' %}:</label>
        <input
            type="text"
            name="amount[ordered]"
            value="<?php print $this->product['amount']['ordered'] ?>"/>
        <br/>
        <label>{% trans 'Varastossa' %}:</label>
        <input
            type="text"
            name="amount[in_stock]"
            value="<?php print $this->product['amount']['in_stock'] ?>"/>
        <br/>
        <label>{% trans 'Minimiraja' %}:</label>
        <input
            type="text"
            name="amount[minimum]"
            value="<?php print $this->product['amount']['minimum'] ?>"/>
        <br/>
        <label>{% trans 'Varattu' %}:</label>
<?php foreach($this->product['amount']['reserved'] as $order => $amount): ?>
        <input type="text" readonly="readonly" value="<?php print $order ?>" class="short"/>:
        <input type="text" readonly="readonly" value="<?php print $amount ?>" class="short" name="amount[reserved][<?php print $order ?>]"/>
        <br/>
<?php endforeach ?>
        <br/>
        <label></label>
<?php print $this->formSelect('is_serialized',
    $this->product['is_serialized'],
    null,
    array(
         '' => __('Sarjanumeroseuranta'),
         'Y' => __('Käytössä'),
         'N' => __('Ei käytössä')
    ), null) ?>
        <br/>
    </div><!-- //#stock -->
    
    <div id="files" class="tab">
        <label><?php print __( 'Liitteet' ); ?>:</label>
        <ul id="attachments">
<?php foreach( $this->files as $f ): ?>
        <li class="attachment">
            <a href="/attachment/view/id/<?php print $f['_id']; ?>"><?php print $f['name']; ?></a>
            <span><?php print $f['description']; ?></span>
            <a href="/attachment/<?php print $f['id']; ?>/remove" class="delete" style="float:right;margin-right:30px"></a>
        </li>
<?php endforeach; ?>
      </ul>
      <br/>
      <label></label>
      <input type="file" id="fileupload" name="incoming"/>
    </div><!-- //#files -->
    <div id="gsx" class="tab">
<?php foreach($this->product['gsxData'] as $k => $v): ?>
        <label style="width:150px"><?php print __($k) ?>:</label>
        <input
           type="text"
           style="width:50%"
           readonly="readonly"
           value="<?php print $v ?>"
           name="gsxData[<?php print $k ?>]"/>
<?php endforeach ?>
    </div><!-- //#gsx -->
</form>
</div>

<script type="text/javascript">
    $("#fileupload").fileupload(
    {
        url: "/attachment/create",
        done: function(e, data) {
            var file = data.result;
            $("<li/>").text(file.name)
                .appendTo($("#attachments"));
            $("<input/>").attr("type", "hidden")
                .attr("name", "attachments["+file._id+"]")
                .val(file.name)
                .insertAfter("#fileupload");
        }
    });
    
    $(".autocomplete").autocomplete({
        source: "/tag/index/type/product"
    });
    
    $(".autocomplete").keydown(function(e)
    {
        if(e.keyCode == 13) {
            $.post("/tag/save/type/product", {
                tag: $(this).val()
            });
            $('<input type="text" name="tags[]" class="autocomplete tag" style="width:76px"/>').insertBefore($("#newTag")).val($(this).val());
            $(this).val("");
        }
    });
    
    $(".tag").keydown(function(e) {
        if($(this).val().length < 1) {
            $(this).remove();
            e.preventDefault();
        }
    });
</script>
