{% load i18n %}

<div class="tabView">
    <ul class="tabs"><li><a href="#info">{% trans 'Perustiedot' %}</a></li><li><a href="#price">{% trans 'Hinnat' %}</a></li><li><a href="#stock">{% trans 'Varasto' %}</a></li><li><a href="#files">{% trans 'Liitteet' %}</a></li><li><a href="#gsx">{% trans 'GSX' %}</a></li></ul>

<form method="post" rel="products" accept-charset="utf-8" action="/products/save/{{ product.id }}">
    {% csrf_token %}
    <div id="info" class="tab">
        <label>{% trans 'Koodi' %}:</label>
        <input id="code" name="code" type="text" class="ucase searchable" value="{{ product.code }}"/>
        <a class="search" href="javascript:;" data-url="/products/search"></a>
        <br/>
        <label>{% trans 'Nimike' %}:</label>
      {{ form.title }}
        <br/>
{% if product.amount_sold %}
        <label>{% trans "Määrä" %}:</label>
        <input type="text" name="amount_sold" value="{{ product.amount_sold }}"/>
        <br/>
    {% if product.is_serialized %}
      <label>{% trans "Sarjanumero" %}:</label>
      <input type="text" name="sn" value="{{ product.sn }}"/>
      <br/>
    {% endif %}
{% endif %}
      <label>{% trans 'Kuvaus' %}:</label>
      {{ form.description }}
      <br/>
      <div style="margin-left:85px">
        {% if product.pk %}
        {% for t in  product.tags.all %}
            <input type="text" name="tags" style="width:80px" class="autocomplete tag" value="{{ t.title }}"/>
        {% endfor %}
        {% endif %}
      <input type="text" id="newTag" class="autocomplete" style="width:80px"/>
    </div>
    </div><!-- //#info -->
    <div id="price" class="tab">
        <label>{% trans 'Ostohinta' %}:</label>
        {{ form.price_purchase }}
        <br/>
        <label>{% trans 'Kate %' %}:</label>
        {{ form.pct_margin }}
        <br/>
        <label>{% trans 'ALV %' %}:</label>
        {{ form.pct_vat }}
        <br/>
        <label>{% trans 'Perushinta' %}:</label>
        {{ form.price_notax }}
        <br/>
        <label>{% trans 'Vaihtohinta' %}:</label>
        {{ form.price_exchange }}
        <br/>
        <label>{% trans 'Myyntihinta' %}:</label>
        {{ form.price_sales }}
    </div><!-- //#price -->
    <div id="stock" class="tab">
        <label>{% trans 'Valmistaja' %}:</label>
        {{ form.brand }}
        <br/>
        <label>{% trans 'Takuu (kk)' %}:</label>
        {{ form.warranty_period }}
        <br/>
        <label>{% trans 'Hyllykoodi' %}:</label>
        {{ form.shelf }}
        <br/>
        <label>{% trans 'Tilattu' %}:</label>
        {{ form.amount_ordered }}
        <br/>
        <label>{% trans 'Varastossa' %}:</label>
        {{ form.amount_stocked }}
        <br/>
        <label>{% trans 'Minimiraja' %}:</label>
        {{ form.amount_minimum }}
        <br/>
        <label>{% trans 'Varattu' %}:</label>
        {{ form.amount_reserved }}
        <br/>
        <label>{{ form.is_serialized }}</label>
        {% trans "sarjanumeroseuranta" %}
    </div><!-- //#stock -->
    <div id="files" class="tab">
        <label>{% trans "Liitteet" %}:</label>
        <ul id="attachments">
            {% if product.pk %}
                {% for f in product.attachments.all %}
            <li class="attachment">
                <a href="/document/view/{{ f.id }}">{{ f.name }}</a>
                <span>{{ f.description }}</span>
                <a href="/document/remove/{{ f.id }}" class="delete" style="float:right;margin-right:30px"></a>
  </li>
{% endfor %}
            {% endif %}
      </ul>
      <br/>
      <label></label>
      <input type="file" id="fileupload" name="content"/>
    </div><!-- //#files -->
    <div id="gsx" class="tab">
{% for k, v in product.gsx_data.items %}
        <label style="width:150px">{{ k }}:</label>
        <input type="text" style="width:50%" readonly="readonly" value="{{ v }}"/>
{% endfor %}
    </div><!-- //#gsx -->
  </form>
</div>

<script type="text/javascript">
    $("#fileupload").fileupload({
      url: "/document/save",
      done: function(e, data) {
          var file = data.result;
          $("<li/>").text(file.name).appendTo($("#attachments"));
          $("<input/>").attr("type", "hidden")
              .attr("name", "attachments")
              .val(file.id)
              .insertAfter("#fileupload");
      }
    });
    
    $(".autocomplete").autocomplete({source: "/tag/index/product"});
    
    $(".autocomplete").keydown(function(e)
    {
        if(e.keyCode == 13) {
            $.post("/tag/save/product", { tag: $(this).val() });
            $('<input type="text" name="tags" class="autocomplete tag" style="width:76px"/>')
              .insertBefore($("#newTag")).val($(this).val());
            $(this).val("");
        }
    });
    
    $(".tag").keydown(function(e) {
        if($(this).val().length < 1) {
            $(this).remove();
            e.preventDefault();
        }
    });
</script>
