{% load i18n %}

<div class="tabView">
  <ul class="tabs"><li><a href="#info">{% trans 'Perustiedot' %}</a></li><li><a href="#price">{% trans 'Hinnat' %}</a></li><li><a href="#stock">{% trans 'Varasto' %}</a></li><li><a href="#files">{% trans 'Liitteet' %}</a></li><li><a href="#gsx">{% trans 'GSX' %}</a></li></ul>

<form method="post" rel="products" accept-charset="utf-8" action="/products/save">
    {% csrf_token %}
{% if product.id %}
    <input name="id" type="hidden" value="{{ product.id }}"/>
{% endif %}
    <input name="sku" type="hidden" value="{{ product.number }}"/>
    <div id="info" class="tab">
      <label>{% trans 'Koodi' %}:</label>
      <input id="code" name="code" type="text" class="ucase searchable" value="{{ product.code }}"/>
      <a class="search" href="javascript:;" data-url="/products/search"></a>
      <br/>
      <label>{% trans 'Nimike' %}:</label>
      <input id="title" type="text" name="title" value="{{ product.title }}"/>
      <br/>
      <label>{% trans 'Määrä' %}:</label>
      <input id="amount" type="text" name="amount_sold" value="{{ product.amount_sold }}"/>
      <br/>
      <label>{% trans 'Sarjanumero' %}:</label>
      <input id="sn" name="sn" type="text" value="{{ product.sn }}"/>
      <br/>
      <label>{% trans 'Kuvaus' %}:</label>
      <textarea name="description">{{ product.description }}</textarea>
      <br/>
      <div style="margin-left:85px">
{% for t in  product.tags %}
  <input type="text" name="tags" style="width:80px" class="autocomplete tag" value="{{ t }}"/>
{% endfor %}
            <input type="text" id="newTag" class="autocomplete" style="width:80px"/>
        </div>
    </div><!-- //#info -->
    <div id="price" class="tab">
      <label>{% trans 'Ostohinta' %}:</label>
      <input type="text" name="price_purchase" value="{{ product.price_purchase }}"/>
      <br/>
      <label>{% trans 'Vaihtohinta' %}:</label>
      <input type="text" name="price_exchange" value="{{ product.price_exchange }}"/>
      <br/>
      <label>{% trans 'Kate %' %}:</label>
      <input type="text" name="pct_margin" value="{{ product.pct_margin }}"/>
      <br/>
      <label>{% trans 'ALV %' %}:</label>
      <input type="text" name="pct_vat" value="{{ product.pct_vat }}"/>
      <br/>
      <label>{% trans 'Perushinta' %}:</label>
      <input type="text" name="price_notax" value="{{ product.price_notax }}"/>
      <br/>
      <label>{% trans 'Myyntihinta' %}:</label>
      <input type="text" name="price_sales" value="{{ product.price_sales }}"/>
    </div><!-- //#price -->
    <div id="stock" class="tab">
      <label>{% trans 'Valmistaja' %}:</label>
      <input type="text" name="brand" value="{{ product.brand }}"/>
      <br/>
      <label>{% trans 'Takuu (kk)' %}:</label>
      <input type="text" name="warranty_period" value="{{ product.warranty_period }}"/>
      <br/>
      <label>{% trans 'Hyllykoodi' %}:</label>
      <input type="text" name="shelf" value="{{ product.shelf }}"/>
      <br/>
      <label>{% trans 'Tilattu' %}:</label>
      <input type="text" name="amount_ordered" value="{{ product.amount_ordered }}"/>
      <br/>
      <label>{% trans 'Varastossa' %}:</label>
      <input type="text" name="amount_stocked" value="{{ product.amount_stocked }}"/>
      <br/>
      <label>{% trans 'Minimiraja' %}:</label>
      <input type="text" name="amount_minimum" value="{{ product.amount_minimum }}"/>
      <br/>
      <label>{% trans 'Varattu' %}:</label>
{% for k, v in product.reservations %}  
        <input type="text" readonly="readonly" value="{{ k }}" class="short"/>:
        <input type="text" readonly="readonly" value="{{ v }}" class="short" name=""/>
        <br/>
{% endfor %}
        <br/>
        <label></label>
        <select name="is_serialized">
          <option value="">{% trans "Sarjanumeroseuranta" %}</option>
          <option value="Y">{% trans "Käytössä" %}</option>
          <option value="N">{% trans "Ei käytössä" %}</option>
        </select>
    </div><!-- //#stock -->
    
    <div id="files" class="tab">
        <label>{% trans "Liitteet" %}:</label>
        <ul id="attachments">
{% for f in product.documents %}
  <li class="attachment">
      <a href="/attachment/view/{{ f.id }}">{{ f.name }}</a>
      <span>{{ f.description }}</span>
      <a href="/attachment/remove/{{ f.id }}" class="delete" style="float:right;margin-right:30px"></a>
  </li>
{% endfor %}
      </ul>
      <br/>
      <label></label>
      <input type="file" id="fileupload" name="incoming"/>
    </div><!-- //#files -->
    <div id="gsx" class="tab">
{% for k, v in product.gsx_data.items %}
        <label style="width:150px">{{ k }}:</label>
        <input type="text" style="width:50%" readonly="readonly" value="{{ v }}" name="gsxData[<?php print $k ?>]"/>
{% endfor %}
    </div><!-- //#gsx -->
  </form>
</div>

<script type="text/javascript">
    $("#fileupload").fileupload(
    {
        url: "/attachment/create",
        done: function(e, data) {
            var file = data.result;
            $("<li/>").text(file.name)
                .appendTo($("#attachments"));
            $("<input/>").attr("type", "hidden")
                .attr("name", "attachments["+file._id+"]")
                .val(file.name)
                .insertAfter("#fileupload");
        }
    });
    
    $(".autocomplete").autocomplete({
        source: "/tag/index/type/product"
    });
    
    $(".autocomplete").keydown(function(e)
    {
        if(e.keyCode == 13) {
            $.post("/tag/save/type/product", {
                tag: $(this).val()
            });
            $('<input type="text" name="tags" class="autocomplete tag" style="width:76px"/>')
              .insertBefore($("#newTag")).val($(this).val());
            $(this).val("");
        }
    });
    
    $(".tag").keydown(function(e) {
        if($(this).val().length < 1) {
            $(this).remove();
            e.preventDefault();
        }
    });
</script>
