{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{% block title %}Tuotteet{% endblock title %}

{% block toolbar %}
<ul>
    <li><a href="/products/create" class="popup">{% trans "Uusi tuote" %}</a></li>
</ul>
{% endblock toolbar %}

{% block secondary %}

<div class="view button search shownext"></div>
<div class="popup-menu">
    <table>
{% for tag in tags %}
          <tr>
            <td style="width:25px">
              <input type="checkbox" class="filterProducts" value="{{ tag.title }}"/>
            </td>
            <td style="width:80px">{{ tag.title }}</td>
          </tr>
{% endfor %}
    </table>
</div>

<div class="view button popup new" data-url="/product/create/" style="left:40px"></div>
<div id="delete-button" class="view button popup delete disabled" data-url="/product/remove/" style="left:80px"></div>
<div class="view button popup buy" data-url="/store/order_products/" style="left:120px"></div>
<div class="view button popup sell" data-url="/store/sell_products/" style="left:160px"></div>

{% endblock secondary %}

{% block content %}

<div class="small_block listView" id="products" data-url="/products/">
    <ul>
    {% for i in data %}
    <li data-url="/product/{{ i.id }}/" class="{% cycle 'odd' 'even' %}">
        <div class="first-row code" style="font-weight:bold">
            <span class="wrapper">{{ i.code }}</span>
        </div>
        <div class="second-row title">
            {{ i.title }}
        </div>
    </li>
    {% endfor %}
    </ul>
</div>

<div id="detailView"></div>

<script type="text/javascript" charset="utf-8">
    $(".selected_product").click(function() {
        url = $(".buy").attr("href");
        url = url+$(this).val()+";";
        $(".buy").attr("href", url);
    });

    $(".selected_product").click(function() {
        url = $(".sell").attr("href");
        url = url + $(this).val()+";";
        $(".sell").attr("href", url);
    });

    $("#search_query").keydown(function(e) {
        var rex = new RegExp($(this).val(), 'i');
        $('#products tbody tr').hide();
        $('#products tbody tr').filter(function() {
            return rex.test($(this).text());
        }).show();
    });

    $('#searchbar .dropdown').click(function() {
        $(this).toggleClass('enabled');
    });
    $('#searchbar .dropdown ul li a').click(function() {
        console.log('clicked!')
        $(this).parent('.dropdown').val($(this).text());
    });
</script>

{% endblock  %}
