<li><a href="javascript:;" class="search popup">&nbsp;</a>
    <ul>
        <li>
            <table>
<?php

    $i = 0;
    
    foreach($this->tags as $t):
        print (($i % 4) == 0) ? '<tr>' : '';
        
?> 
                <td style="width:25px">
                    <input type="checkbox" class="filterProducts" value="<?php print $t['title'] ?>"/>
                </td>
                <td style="width:80px"><?php print $t['title'] ?></td>
<?php print (($i % 4) == 3) ? '</tr>' : ''; $i++; endforeach ?>
            </table>
        </li>
    </ul>
</li>
<li><a href="/purchase-order/create/item/" class="purchase popup">&nbsp;</a></li>
