{% extends "default.html" %}
{% load i18n %}

{% block content %}
{% if note.order_id %}
<ul class="breadcrumb">
  <li><a href="/orders/index/">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{{ order.get_absolute_url }}">#{{ note.order_id }}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Uusi merkintä" %}</li>
</ul>
{% endif %}

<form action="" method="post" accept-charset="utf-8" class="form-horizontal" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="kind" value="{{ note.kind }}">
  {% if note.id %}
  <input name="id" type="hidden" value="{{ note.id }}"/>
  {% endif %}
  {% if note.order_id %}
  <input name="order" type="hidden" value="{{ note.order_id }}"/>
  {% endif %}
  {% if note.parent %}
  <input name="parent" type="hidden" value="{{ note.parent }}"/>
  {% endif %}
  {% include "form_field_snippet.html" with field=form.recipient %}
  {% include "form_field_snippet.html" with field=form.body %}
  <div class="control-group">
    <label class="control-label">{% trans 'Liite' %}</label>
    <div class="controls">
      <input type="file" name="content"/>
    </div>
  </div>
  {% include "form_field_snippet.html" with field=form.should_report %}
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Tallenna" %}"/>
  </div>
</form>
{% endblock content %}
