{% extends "default.html" %}
{% load i18n %}

{% block content %}
{% if note.order_id %}
<ul class="breadcrumb">
  <li><a href="{% url orders.views.index %}">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url orders.views.edit note.order_id %}">#{{ note.order_id }}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Uusi merkintä" %}</li>
</ul>
{% endif %}

<form action="{% url notes.views.save %}" method="post" accept-charset="utf-8" 
  class="form-horizontal" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="kind" value="{{ note.kind }}">
  {% if note.id %}
  <input name="id" type="hidden" value="{{ note.id }}"/>
  {% endif %}
  {% if note.order_id %}
  <input name="order" type="hidden" value="{{ note.order_id }}"/>
  {% endif %}
  {% if note.parent %}
  <input name="parent" type="hidden" value="{{ note.parent }}"/>
  {% endif %}
  {% include "form_field_snippet.html" with field=form.recipient %}
  <div class="control-group">
    <div class="dropdown control-label">
      <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">{% trans "Pohja" %} <b class="caret"></b></a>
      <ul class="dropdown-menu" id="template-select">
      {% for t in templates %}
        <li><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="controls">
      {{ form.body }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{% trans 'Liite' %}</label>
    <div class="controls">
      <input type="file" name="content"/>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">{{ form.report }}{% trans 'raportoi' %}</label>
    </div>
  </div>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Tallenna" %}"/>
  </div>
</form>
{% endblock content %}
