{% load i18n %}

<form method="post" action="/customer/save" accept-charset="utf-8" rel="customers">
  {% csrf_token %}

{% if customer.id %}
    <input name="id" type="hidden" value="{{ customer.id }}"/>
{% endif %}

{% if customer.order %}
    <input name="order" type="hidden" value="{{ customer.order }}"/>
{% endif %}

{% if customer.path %}
    
    <input type="hidden" name="path" value="{{ customer.path }}"/>
    
{% endif %}

    <label>{% trans 'Nimi' %}:</label>
    <input type="text" name="name" value="{{ customer.name }}">
    <a href="javascript:;" class="search" data-url="/customer/search-drawer"></a>

{% for key, value in customer.properties.items %}

    <div class="property">
        <select name="keys">
          <option>{{ key }}</option>
		</select>
		<input type="text" name="values" value="{{ value }}"/>
	</div>

{% endfor %}
  
	<div class="property">
    	<select name="keys">
{% for f in fields %}
			  <option>{{ f.title }}</option>
{% endfor %}
		</select>
    <input type="text" name="values"/>
	</div>
	<a href="javascript:;" class="plus" id="add_property"></a>
</form>

<script type="text/javascript" charset="utf-8">
    $("#add_property").click(function() {
        $(".property:last").clone().insertAfter($(".property:last"));
        $(".property:last option:selected").next()
            .attr("selected", "selected");
        $(".property:last input").val("");
    });
</script>
