{% extends "default.html" %}
{% load i18n %}

{% block toolbar %}

<ul class="navigation">
    <li>
        <a class="popup customer" href="/customer/create">{% trans 'Uusi asiakas' %}</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<div class="small_block listView" id="customers" data-url="/customer/index">
    <ul data-collection="customer">
<?php

    foreach($this->data as $c):
        $indent = substr_count($c['path'], ',');
        
?>
        <li data-url="/customer/view/id/<?php print $c['_id'] ?>" class="<?php print $this->cycle(array('', 'even'))->next() ?> <?php print ($c['_id'] == $this->customer['_id']) ? 'current' : '' ?>"><a style="padding-left:<?php print $indent*15 ?>px"><?php print $c['name'] ?></li>
<?php endforeach; ?>
    </ul>
</div>

<div id="detailView"></div>

{% endblock %}