{% extends "default.html" %}
{% load i18n %}

{% block toolbar %}

<ul class="navigation">
    <li>
        <a class="popup customer" href="/customer/create">{% trans 'Uusi asiakas' %}</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<div class="small_block listView" id="customers" data-url="/customer/index">
  <ul data-collection="customer">
    
    {% for c in customers %}
    
        <li style="padding-left: {{ c.get_indent }}em" data-url="/customer/view/{{ c.id }}" class="{% cycle  'odd' 'even' %}">{{ c.name }}</li>
          
    {% endfor %}

    </ul>
</div>

<div id="detailView"></div>

{% endblock %}
