{% load i18n %}
<form action="/issue/save" accept-charset="utf-8" method="post" rel="issues">
  {% csrf_token %}
{% if issue.id %}
    <input type="hidden" name="id" value="{{ issue.id }}"/>
{% else %}
  <input type="hidden" name="order" value="{{ issue.order.id }}"/>
{% endif %}
  
  <select class="label chooser" rel="symptom">
    <option value="0">{% trans "Ongelma" %}…</option>
{% for tpl in templates %}
  <option value="{{ tpl.id }}">{{ tpl.subject }}</option>
{% endfor %}
   </select>
   
	<textarea id="symptom" name="symptom">{{ issue.symptom }}</textarea>
	<br/>
    <select class="label chooser" rel="diagnosis">
      <option value="0">{% trans "Diagnoosi" %}…</option>
{% for tpl in templates %}
      <option value="{{ tpl.id }}">{{ tpl.subject }}</option>
{% endfor %}
   </select>

	<textarea id="diagnosis" name="diagnosis">{{ issue.diagnosis }}</textarea>
	<br/>
    <select class="label chooser" rel="solution">
        <option value="0">{% trans "Ratkaisu" %}…</option>
{% for tpl in templates %}
          <option value="{{ tpl.id }}">{{ tpl.subject }}</option>
{% endfor %}
   </select>
	<textarea id="solution" name="solution">{{ issue.solution }}</textarea>
</form>
<script type="text/javascript">
    $(".chooser").change( function() {
        var ta = "#" + $(this).attr("rel");
        $(ta).load("/template/view/" + $(this).val());
    });
</script>
