/**
 * dark.css
 * @package servo
 * @author Filipp Lepalaan <filipp@mcare.fi>
 */

@import url("reset.css");

html, body {
    height: 100%;
    background-color: #34383d;
}

body {
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    font: 10pt "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

div#page {
    width: 100%;
    min-height: 100%;
    height: auto !important;
}

#toolbar {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 999;
    position: fixed;
    min-width: 800px;
    background-color: #636363;
    border-bottom: 1px solid #222;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(rgb(67,67,67)), to(rgb(53,53,53)));
}

a.tag {
    height: 29px;
    padding: 8px 5px;
    padding-top: 7px;
    position: relative;
    font: 8pt "Arial" sans-serif bold;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    background: url(/static/images/dark/tag-center.png) repeat-x;
}

a.tag:before {
    top: 0px;
    width: 7px;
    height: 29px;
    left: -16px;
    display: block;
    position: absolute;
    content: url(/static/images/dark/tag-left.png);
}

a.tag:after {
    top: 0px;
    width: 22px;
    height: 29px;
    position: absolute;
    content: url(/static/images/dark/tag-right.png);
}

a.tag:hover {
    background: url(/static/images/dark/tag-hover.png) repeat-x;
}

a.tag:hover::before {
    content: url(/static/images/dark/tag-hover-left.png);
}

a.tag:hover::after {
    content: url(/static/images/dark/tag-hover-right.png);
}

a.tag:active {
    background: url(/static/images/dark/tag-active.png) no-repeat;
}

a.tag:active::before {
    content: url(/static/images/dark/tag-active-left.png);
}
a.tag:active::after {
    content: url(/static/images/dark/tag-active-right.png);
}

#tags li {
    margin: 5px;
    display: inline;
}

#toolbar > ul {
    list-style: none;
}

#toolbar > ul > li {
    float: left;
}

#toolbar > ul > li > a {
    height: 32px;
    width: 32px;
    display: block;
    padding: 6px;
    margin: 3px;
}
#toolbar a.create {
    background: url(/static/images/dark/add-32.png) no-repeat center;
}
#toolbar a.create.disabled {
    background: url(/static/images/dark/add-32-disabled.png) no-repeat center;
}
#toolbar a.delete {
    background: url(/static/images/dark/delete-32.png) no-repeat center;
}
#toolbar a.delete.disabled {
    background: url(/static/images/dark/delete-32-disabled.png) no-repeat center;
}
#toolbar a.edit {
    background: url(/static/images/dark/edit-32.png) no-repeat center;
}
#toolbar a.edit.disabled {
    background: url(/static/images/dark/edit-32-disabled.png) no-repeat center;
}
#toolbar a.gear {
    background: url(/static/images/gear_32.png) no-repeat center;
}

#main_view {
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
}

#toolbar .create > ul {
    display: none;
    background: #222;
    position: absolute;
    padding: 10px 20px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.8);
}
#toolbar .create ul li {
    display: inline;
}
/* start sidebar */
#side_pane {
    width: 229px;
    font-size: 9pt;
    height: 100%;
    overflow: auto;
    background-color: #333;
    border-right: 1px solid #222;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(22,22,22, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(22,22,22, 0.4);
}

#side_pane ul li {
    vertical-align: middle;
    line-height: 2em;
}

#side_pane span.head {
    padding: 15px 8px 13px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

#side_pane ul li ul li {
    padding: 5px 20px 0px 25px;
}

#side_pane ul a, #toolbar ul li a {
    line-height: 20px;
}
#side_pane a {
    vertical-align: top;
}
#side_pane span.head:before {
    content: url(/static/images/arrow-open.gif);
}

#side_pane span.head.closed:before {
    content: url(/static/images/arrow-closed.gif);
}

#side_pane a:before, #toolbar ul li a:before {
    height: 16px;
    margin-right: 8px;
    margin-left: 10px;
    vertical-align: bottom;
}
#side_pane a.done:before {
  content: url(/static/images/dark/16/done.png);
}

#side_pane a.article:before {
    content: url(/static/images/article_16.png);
}
#side_pane a.table:before {
    content: url(/static/images/dark/16/table.png);
}
#side_pane a.folder:before {
    content: url(/static/images/dark/16/folder.png);
}
#side_pane a.globe:before {
    content: url(/static/images/dark/16/globe.png);
}
#side_pane a.user:before {
    content: url(/static/images/dark/16/user.png);
}
#side_pane a.color:before {
    content: url(/static/images/dark/16/color.png);
}
#side_pane a.gear:before {
    content: url(/static/images/dark/16/gear.png);
}
#side_pane a.work:before {
    content: url(/static/images/dark/16/work.png);
}
#side_pane a.message:before {
    content: url(/static/images/dark/16/message.png);
}
#side_pane a.briefcase:before {
    content: url(/static/images/dark/16/briefcase.png);
}
#side_pane a.event:before {
    content: url(/static/images/app_16.png);
}
#side_pane a.db:before {
    content: url(/static/images/dark/16/db.png);
}
#side_pane a.home:before {
    content: url(/static/images/dark/16/home.png);
}
#side_pane a.calendar:before {
    content: url(/static/images/dark/16/calendar.png);
}
#side_pane a.down:before {
    content: url(/static/images/dark/16/down.png);
}
#side_pane a.up:before {
    content: url(/static/images/dark/16/up.png);
}
#side_pane a.prefs:before {
    content: url(/static/images/dark/16/prefs.png);
}
#side_pane a.device:before {
    content: url(/static/images/dark/16/device.png);
}
#side_pane a.ab:before {
    content: url(/static/images/dark/16/ab.png);
}
#side_pane a.red:before {
    content: url(/static/images/dark/16/red.png);
}
#side_pane a.document:before {
    content: url(/static/images/document_16.png);
}
#side_pane a.document:before {
    content: url(/static/images/document_16.png);
}
#side_pane a.inbox:before {
    content: url(/static/images/dark/16/inbox.png);
}
#side_pane a.lock:before {
    content: url(/static/images/dark/16/lock.png);
}

#side_pane .counter {
    float: right;
    font-size: 8pt;
    padding: 0px 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #232323;
}

#side_pane span.head:hover {
    cursor: pointer;
}

/* end sidebar */

.current, select {
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(rgb(72, 72, 72)), to(rgb(60, 60, 60)));
}

.current {
    background-image: -webkit-gradient(linear, left bottom, left top,
        from(rgb(32,88,133)), to(rgb(70,137,219)));
}

#page table {
    width: 100%;
    border-collapse: collapse;
}

br {
    clear: both;
}

#main_pane {
    top: 0;
    right: 0;
    bottom: 0;
    left: 230px;
    text-align: left;
    min-width: 700px;
    min-height: 400px;
    position: absolute;
    overflow-y: auto;
}
#footer {
    clear: both;
}

th {
    text-align: left;
}

#popup .content td {
    padding: 3px;
}

#popup table input {
    width: 90%;
}

#main_content th, .block_header, .breadcrumbs {
    height: 36px;
    vertical-align: middle;
    background-color: #ccc;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(rgb(72, 72, 72)), to(rgb(60, 60, 60)));
}

#main_content th, .block_header a {
    font-size: 9pt;
    color: #000;
    font-weight: bold;
    text-shadow: 0px 1px 1px #777;
    padding-left: 10px;
    text-transform: uppercase;
}

#main_pane td {
    padding: 8px;
    line-height: 1.9em;
    vertical-align: middle;
}

td.long {
    min-width: 300px;
}

#page td.empty {
    color: #888;
    font-weight: bold;
    text-align: center;
}

#main_content tr, .listView li {
    background-color: #292929;
}

#toolbar tr, #popup tr {
    background: none !important;
}

.listView {
    height: 100%;
    overflow: auto;
}

#popup {
    left: 25%;
    width: 500px;
    z-index: 1200;
    padding: 10px;
}

#popup h2 {
    margin-top: 20px;
    font-weight: bold;
}

#popup p {
    margin: 10px;
}

#popup, #drawer {
    position: absolute;
    display: none;
    text-align: left;
    background-color: #373737;
    -webkit-box-shadow: 1px 1px 10px #000;
}

#popup .content {
    max-height: 400px;
    overflow-y: auto;
}

#popup img.alert {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0px 15px 0px 15px;
}

select {
    color: #fff;
    width: 122px;
    padding: 5px;
    margin-left: 3px;
    border-radius: 2px;
    background-color: #222;
    border: 1px solid #222;
    font-family: "Helvetica Neue";
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin: 3px;
    -webkit-appearance: none;
    background: url(/static/images/dark/checkbox.png) no-repeat;
}

input[type="checkbox"]:checked {
    background: url(/static/images/dark/checkbox-checked.png) no-repeat;
}
input[type="radio"] {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    background: url(/static/images/dark/radio.png) no-repeat;
}
input[type="radio"]:checked {
    background: url(/static/images/dark/radio-active.png) no-repeat;
}

input[type="text"], input[type="password"], textarea {
    color: #fff;
    border: none;
    width: 75%;
    margin: 3px;
    padding: 6px;
    font-size: 10pt;
    border-radius: 4px;
    background-color: #222;
    font-family: "Helvetica Neue";
    -webkit-box-shadow: inset 0 1px 2px #000;
    -moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 4px #000000;
}

textarea {
    resize: vertical;
    height: 100px;
}

#popup label, select.label {
    display: block;
    float: left;
    width: 15%;
    margin: 6px;
    text-align: right;
}

a.plus, a.minus {
    width: 24px;
    height: 23px;
    display: block;
    background: url(/static/images/dark/plus.png) no-repeat;
}

div.plus a:active, a.plus:active {
    background: url(/static/images/dark/plus-active.png) no-repeat;
}
a.minus {
    background: url(/static/images/dark/minus.png) no-repeat;
}
div.buttons {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
    background-color: transparent;
}
div.buttons div {
    margin-right: 25px;
}
.scroll {
    max-height: 150px;
    overflow-y: auto;
}
img.avatar {
    width: 40px;
    height: 40px;
}

#pager_spinner {
    float:left;
    display:none;
}

#pager_msg {
    padding: 10px;
    float: left;
}

span.small {
    font-size: 8pt;
}

a.report {
    width: 22px;
    height: 21px;
    display: block;
    background: url(/static/images/dark/report.png) no-repeat;
}

a.report:active {
    background: url(/static/images/dark/report-active.png) no-repeat;
}

a.attachment:before {
    margin-right: 5px;
    content: url(/static/images/dark/16/file.png);
}

a.add_contact:before {
    margin-right: 5px;
    content: url(/static/images/add_contact_16.png);
}

div.buttons {
    height: 30px;
    line-height: normal;
}

a.button {
    color: white;
    width: 73px;
    height: 34px;
    float: right;
    display: block;
    text-align: center;
    border-style: none;
    font: 8pt "Arial" sans-serif bold;
    background: url(/static/images/moonkit/button.png) no-repeat center;
}

a.button span {
    display: block;
    margin-top: 11px;
}

a.button:hover {
    background: url(/static/images/moonkit/button-hover.png) no-repeat center;
}

a.button:active, a.button.active {
    background: url(/static/images/moonkit/button-active.png) no-repeat center;
}

#toolbar #search {
    position: absolute;
    right: 0px; 
    top: 11px;
}

#search_query {
    width: 175px;
    height: 24px;
    font-size: 9pt;
    padding-left: 23px;
    -webkit-box-shadow: none;
    background: url(/static/images/dark/searchfield.png) no-repeat;
}
div.property {
    clear: both;
}
div.property select {
    margin-left: 90px;
}
div.property input {
    width: 210px !important;
}
div.property a {
    margin: 0 !important;
    padding: 0 !important;
}
#add_property {
    float: right;
    margin-right: 33px;
    margin-top: -29px;
}

.listView ul {
    border-top: 1px solid #222;
    float: left;
    width: 100%;
}

.listView li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px;
}
.listView li a {
    width: 100%;
}

#main_content {
    width: 100%;
}

div.small_block {
    width: 250px;
    position: absolute;
    background-color: #222;
    border-right: 1px solid #222;
}
div.block {
    right: 0;
    width: auto;
    height: 100%;
    min-height: 100%;
}

div#detailView {
    margin-left: 251px;
}

h2.placeholder {
    color: #aaa;
    margin-top: 35%;
    font-size: 2em;
    text-align: center;
}

input.date {
    width: 25%;
}
a.todo {
    width: 18px;
    height: 18px;
    display: block;
    background: url(/static/images/dark/todo.png) no-repeat;
}

#popup a.search {
    top: 14px;
    right: 46px;
    width: 30px;
    height: 27px;
    display: block;
    position: absolute;
    cursor: default;
    background: url(/static/images/search.png) no-repeat right;
}

div.tab a.search {
    top: 41px !important;
    right: 51px !important;
}

#popup a.search.active {
    background: url(/static/images/dark/searchable-right-active.png) no-repeat;
}

a.filter {
    width: 20px;
    height: 20px;
    display: block;
    background: url(/static/images/dark/filter.png) no-repeat;
}

a.filter:active, a.filter.active {
    background: url(/static/images/dark/filter-active.png) no-repeat;
}

a.filter_big {
    width: 30px;
    height: 30px;
    background: url(/static/images/dark/30/filter.png) no-repeat;
}

a.filter_big:active, a.filter_big.active {
    background: url(/static/images/dark/30/filter-active.png) no-repeat;
}

/* TABS */
ul.tabs {
    width: 100%;
    list-style: none;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 12px;
}

ul.tabs li {
    margin: none;
    padding: none;
    display: inline;
}
ul.tabs li a {
    border: none;
    font-size: 8pt;
    padding: 5px 8px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    text-shadow: 0px 1px 1px #000;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(rgb(73,83,98)), to(rgb(55,62,74)));
}

div.tab {
    display: none;
    padding: 18px 5px;
    margin-top: -20px;
    border-radius: 5px;
    z-index: 900;
    background-color: #333;
    -webkit-box-shadow: inset 0 1px 2px #222;
}

.short {
    width: 23% !important;
}

.shortest {
    width: 100px !important;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.ucase {
    text-transform: uppercase;
}
.inventory_row {
    clear: right;
    margin-left: 85px;
}

#drawer {
    height: 100%;
    top: 0px;   
    left: 520px;
    width: 210px;
    z-index: 100;
    font-size: 10px;
    border-bottom-right-radius: 7px;
    -webkit-box-shadow: inset 1px 1px 8px rgba(0,0,0,0.8);
}

#drawer .results ul {
    padding-left: 5px;
}

#drawer .results ul li {
    padding-bottom: 10px;
}

#drawer .results ul li a {
    font-size: 11px;
    font-weight: bold;
    display: block;
}

#drawer .results ul li a:hover {
    text-decoration: underline;
}

#drawer .results {
    max-height: 235px;
    overflow-y: auto;
}

input.search_field {
    width: 175px;
    height: 22px;
    font-size: 8pt;
    margin-top: 17px;
    margin-left: 10px;
    padding-left: 20px;
    margin-right: 20px;
    line-height: 15px;
    -webkit-box-shadow: none;
    background: url("/static/images/dark/sf_small.png") no-repeat;
}

ul.gear li:hover ul {
    display: block;
    position: absolute;
}

td span {
    padding-right: 15px;
    padding-left: 20px;
    font-size: 8pt; 
}

#messages .email {
    background: url(/static/images/mail_16.png) left no-repeat;
}

span.user {
    padding-right: 10px;
    background: url(/static/images/user_16.png) left no-repeat;    
}

span.date {
    background: url(/static/images/calendar_16.png) left no-repeat;        
}
.peek {
    vertical-align: middle; 
}

#controls ul {
    display: none;
}

#toolbar ul li ul li {
    display: block;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}
#toolbar a {
    display: block;
}
#toolbar ul > li:hover {
    background: #222;
    box-shadow: 6px 0px 10px -7px #000, -6px 0px 10px -7px #000;
}

#toolbar ul ul li:hover {
    background: #aaa;
}
#toolbar ul ul li:hover a {
    color: #000;
}

#toolbar ul > li:hover ul {
    display: block;
}

#toolbar ul ul {
    min-width: 200px;
    display: none;
    position: absolute;
    background: #222;
/*  -webkit-box-shadow: 1px 1px 5px #000;*/
    box-shadow: 1px 1px 5px #000, 1px 1px 5px #000;
}

#toolbar ul#secondary {
    border-left: 1px solid #222;
    margin-left: 220px;
}

#toolbar ul#primary a.customer:before {
    vertical-align: middle;
    content: url(/static/images/dark/16/ab.png);
}
#toolbar ul#primary a.device:before {
    content: url(/static/images/dark/16/device.png);
}
#toolbar ul#primary a.issue:before {
    content: url(/static/images/dark/16/issue.png);
}
#toolbar ul#primary a.file:before {
    content: url(/static/images/dark/16/file.png);
}
#toolbar ul#primary a.product:before {
    content: url(/static/images/dark/16/cart.png);
}
#toolbar ul#primary a.order:before {
    content: url(/static/images/dark/16/work.png);
}
#toolbar ul#primary a.message:before {
    content: url(/static/images/dark/16/message.png);
}
#toolbar a.queue:before {
    content: url(/static/images/inbox_32.png);
}
#toolbar a.status:before {
    content: url(/static/images/status_32.png);
}
#toolbar a.priority:before {
    content: url(/static/images/flag-blue_32.png);
}
#toolbar a.location:before {
    content: url(/static/images/globe_32.png);
}
#toolbar a.print:before {
    content: url(/static/images/print_32.png);
}
#toolbar a.reply:before {
    content: url(/static/images/dark/32/reply.png);
}
#toolbar a.reply.disabled:before {
    content: url(/static/images/dark/32/reply-disabled.png);
}
#toolbar a.user:before {
    content: url(/static/images/user_32.png);
}
#toolbar a.purchase:before {
    content: url(/static/images/product-add_32.png);
}
#toolbar a.sell:before {
    content: url(/static/images/cart_32.png);
}
#toolbar a.search:before {
    content: url(/static/images/search_32.png);
}

li.submenu a:after {
    content: url(/static/images/arrow-closed.gif);
    float: right;
    vertical-align: middle; 
}

li.submenu ul {
    display: none !important;
    left: 200px;
    margin-top: -30px;
}

li.submenu:hover ul {
    display: block !important;
}
#toolbar ul li.selected,
    #toolbar ul li.selected:hover,
    ul.tabs li a.active {
    background-image: -webkit-gradient(
       linear, left bottom, left top,
       from(rgb(32,88,133)), to(rgb(70,137,219)));
}

.icon {
    vertical-align: middle;
}

div.error {
    display: none;
    line-height: 26px;
    width: 199px;
    height: 32px;
    margin-top: -31px;
    margin-left: 466px;
    position: fixed;
    font-size: x-small;
    text-x: 1px 1px 1px #000;
    background: url("/static/images/error-bg.png") no-repeat;
}
div.error span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-left: 32px;
}

div#footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    z-index: 12000;
    position: fixed;
    line-height: 34px;  
    border-top: 1px solid #222;
    -webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(
       linear, left top, left bottom,
        from(rgb(72, 72, 72)), to(rgb(60, 60, 60)));
}

#footer a {
    width: 24px;
    height: 24px;
    float: right;
    display: block;
}

#footer a.lock {
    background: url(/static/images/lock_24.png) no-repeat center;
}

#footer a.prefs {
    background: url(/static/images/prefs_24.png) no-repeat center;
}

hr {
    border: 0;
    height: 1px;
    background-color: #232323;
}

.customerDetails
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(/static/images/ab_16.png) no-repeat left top;
}

.customerDetails h3
{
    line-height: 16px;
    display: inline;
    font-size: 13px;
    vertical-align: baseline;
    font-weight: bold;
    margin-left: 20px;
}
.customerDetails a:hover {
    text-decoration: underline;
}
.customerDetails p {
    margin-left: 20px;
}
#side_pane input {
    width: 205px;
}
#side_pane select, #side_pane textarea {
    width: 210px;
}

#side_pane textarea {
    height: 60px;
}

#side_pane label {
    font-size: 8pt;
    display: block;
    margin-left: 5px;
}

div.pbar {
    width: 100%;
    height: 20px;
    background: url(/static/images/dark/pbar-empty-middle.png) repeat-x;
}

div.pbar:before {
    margin-left: -10px;
    float: left;
    width: 11px;
    content: url(/static/images/dark/pbar-empty-left.png) no-repeat;
}

div.pbar:after {
    position: absolute;
    right: 0px;
    margin-top: -20px;
    width: 11px;
    content: url(/static/images/dark/pbar-empty-right.png) no-repeat;
}

div.pbar div {
    height: 20px;
    position: relative;
    background: url(/static/images/dark/pbar-full-middle.png) repeat-x;
}

div.pbar div:before {
    float: left;
    width: 11px;
    margin-left: -11px;
    content: url(/static/images/dark/pbar-full-left.png) no-repeat;
}

div.pbar div:after {
    width: 10px;
    content: url(/static/images/dark/pbar-full-right.png) no-repeat;
}

#breadcrumbs a {
    background: url(/static/images/moonkit/breadcrumb-middle.png) repeat-x;
}

#breadcrumbs a:after {
    content: url(/static/images/moonkit/breadcrumb-right.png);
}

#breadcrumbs a:before {
    width: 30px;
    content: url(/static/images/moonkit/breadcrumb-left.png);
}

.even {
    background-color: #252525 !important;
}

.progress {
    background: aqua;
    width: 60px;
}
#drawer .tab {
    margin-left: 8px;
    width: 88%;
}

td img {
    margin: 4px;
}
