{% load i18n %}
<form method="post" action="/admin/fields/save/" accept-charset="utf-8" rel="fields">
	{% csrf_token %}
	{% if field.id %}
	<input type="hidden" name="id" value="{{ field.id }}"/>	
	{% endif %}
	<label>{% trans 'Otsikko' %}:</label>
	<input type="text" id="title" name="title" value="{{ field.title }}"/>
	<br/>
	<label>{% trans 'Muoto' %}:</label>
 	<input type="text" id="format" name="format" value="{{ field.format }}"/>
 	<br/>
 	<label>{% trans 'Tyyppi' %}:</label>
 	<select name="type">
 	  <option value="customer">{% trans 'Asiakas' %}</option>
 	  <option value="spec">{% trans 'Malli' %}</option>
 	</select>
</form>
