{% load i18n %}
<form method="post" action="/gsx/save_account" accept-charset="utf-8" rel="accounts">
    {% csrf_token %}
    {% if id %}<input name="id" type="hidden" value="{{ id }}"/>{% endif %}
    <label>{% trans 'Otsikko' %}:</label>
    <input type="text" name="title" value="{{ title }}"/>
    <label>{% trans 'Sold-To' %}:</label>
    <input type="text" name="sold_to" value="{{ sold_to }}"/>
    <br/>
    <label>{% trans 'Ship-To' %}:</label>
    <input type="text" name="ship_to" value="{{ ship_to }}"/>
    <br/>
    <label>{% trans 'Tunnus' %}:</label>
    <input type="text" name="username" value="{{ username }}"/>
    <br/>
    <label>{% trans 'Salasana' %}:</label>
    <input type="password" name="password"/>
    <br/>
    <label>{% trans 'Ympäristö' %}:</label>
    <select name="environment">
{% for k, v in environments.items %}
      <option value="{{ k }}">{{ v }}</option>
{% endfor %}
    </select>
        <a href="/gsx/test-account/{{ id }}">{% trans "Testaa yhteys" %}</a>
    <br/>
    <label>{% trans 'Oletus' %}:</label>
    <input type="checkbox" name="default" checked="checked">
</form>
