{% extends "default.html" %}

{% block toolbar %}

  <ul class="navigation">
      <li>
          <a class="popup" href="/gsx/create_account">Uusi tili</a>
      </li>
  </ul>

{% endblock %}

{% block content %}
<div class="small_block listView" id="accounts" data-url="/gsx/accounts">
	<ul data-collection="gsx">
{% for act in accounts %}
		<li data-id="<?php print $i['_id'] ?>" data-action="edit-account">
			<a href="/gsx/edit-account/id/<?php print $i['_id'] ?>" class="popup">{{ act.title }}</a>
		</li>
{% endfor %}
	</ul>
</div>
{% endblock %}
