{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{% block toolbar %}
  <ul class="navigation">
      <li>
          <a class="popup" href="/gsx/create_account">{% trans "Uusi tili" %}</a>
      </li>
  </ul>
{% endblock %}

{% block content %}
<div class="small_block listView" id="accounts" data-url="/gsx/accounts">
	<ul>
{% for act in accounts %}
		<li data-url="/gsx/edit/{{ act.id }}" class="{% cycle "odd" "even" %}">{{ act.title }}</li>
{% endfor %}
	</ul>
</div>
{% endblock %}
