{% load i18n %}
<form method="post" action="/gsx/save_account" accept-charset="utf-8" rel="accounts">
    {% csrf_token %}
    <input name="_id" type="hidden" value="{{ id }}"/>
    <label>{% trans 'Otsikko' %}:</label>
    <input type="text" name="title" value="{{ title }}"/>
    <label>{% trans 'Sold-To' %}:</label>
    <input type="text" name="sold_to" value="{{ sold_to }}"/>
    <br/>
    <label>{% trans 'Ship-To' %}:</label>
    <input type="text" name="ship_to" value="{{ ship_to }}"/>
    <br/>
    <label>{% trans 'Tunnus' %}:</label>
    <input type="text" name="username" value="{{ username }}"/>
    <br/>
    <label>{% trans 'Salasana' %}:</label>
    <input type="password" name="password"/>
    <br/>
    <label>{% trans 'Ympäristö' %}:</label>
<?php print $this->formSelect('environment', $this->account['environment'],
        NULL, $this->environments); ?>
        <a href="/gsx/test-account/id/<?php print $this->account['_id'] ?>"><?php print __('Testaa yhteys') ?></a>
    <br/>
    <label>{% trans 'Oletus' %}:</label>
<?php print $this->formCheckbox('default', null, array('checked' => $this->account['default'])) ?>
</form>
