{% load i18n %}

<div class="tabView">
  <ul class="tabs">
	   <li><a href="#general">{% trans "Yleiset" %}</a></li><li><a href="#sms">{% trans "SMS" %}</a></li><li><a href="#mail">{% trans "Sähköposti" %}</a></li>
  </ul>

<form method="post" accept-charset="utf-8" action="/admin/settings">
  {% csrf_token %}
  <div class="tab" id="general">
		<label>{% trans "Yritys" %}:</label>
	  <input type="text"  name="company_name" value="{{ company_name }}"/>
    <br/>
    <label>{% trans "Kate %" %}:</label>
    <input type="text" name="pct_margin" value="{{ pct_margin }}"/>
    <br/>
    <label>{% trans "Tuntihinta" %}:</label>
    <input type="text" name="repair_rate" value="{{ repair_rate }}"/>
    <br/>
    <label>{% trans "ALV %" %}:</label>
    <input type="text" name="pct_vat" value="{{ pct_vat }}"/>
    <br/>
    <label>{% trans "Salausavain" %}:</label>
    <input  type="password" name="encryption_key"/>
	</div>
	
	<div class="tab" id="sms">
	
		<label>{% trans "Palvelin" %}:</label>
		<input type="text" name="sms_url" value="{{ sms_url }}"/>
		<br/>
  	<label>{% trans "Tunnus" %}:</label>
		<input type="text" name="sms_user" value="{{ sms_user }}"/>
		<br/>
  	<label>{% trans "Salasana" %}:</label>
		<input type="password" name="sms_password"/>
	</div>

	<div class="tab" id="mail">
		<label>{% trans "Osoite" %}:</label>
		<input type="text" name="mail_from" value="{{ mail_from }}"/>
	  <br/>
		<label>{% trans "Lähtevä" %}:</label>
		<input type="text" name="smtp_host" value="{{ smtp_host }}"/>
		<br/>
		<label>{% trans "Tuleva" %}:</label>
		<input type="text" name="imap_host" value="{{ imap_host }}"/>
		<br/>
		<label>{% trans "Tunnus" %}:</label>
		<input type="text" name="imap_user" value="{{ imap_user }}"/>
		<br/>
		<label>{% trans "Salasana" %}:</label>
		<input type="password" name="imap_password"/>
		<br/>
		<label>{% trans "SSL" %}:</label>
		<input type="checkbox" name="imap_ssl" checked="checked"/>
	</div>
	
</form>
</div>
