{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{%block toolbar %}

  <ul class="navigation">
      <li>
          <a class="popup" href="/admin/status/create">{% trans "Uusi status" %}</a>
      </li>
  </ul>

{% endblock %}

{% block content %}

<div class="small_block listView" id="statuses" data-url="/admin/status">
  <ul>
{% for status in statuses %}
    <li class="{% cycle 'odd' 'even' %}" data-url="/status/edit/{{ status.id }}">{{ status.title }}</li>
{% endfor %}
  </ul>
</div>
<div id="detailView"></div>

{% endblock %}
