{% extends "default.html" %}

{% load i18n %}

{% block navtabs %}
	<ul class="nav nav-tabs">
		<li class="pull-right"><a href="{% url calendars.views.create %}">{% trans "Uusi kalenteri" %}</a></li>
	</ul>
{% endblock navtabs %}

{% block content %}

<div class="small_block listView" id="calendars" data-url="/calendars">
	<div class="block_header">&nbsp;</div>
	<ul>
{% for cal in calendars %}
		<li data-url="/calendar/events/{{ cal.id }}" class="{% cycle "odd" "even" %}">
			{{ cal.title }}
		</li>
{% endfor %}
	</ul>
</div>

{% block detail_view %}
{% endblock detail_view %}

{% endblock content %}
