{% extends "default.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block content %}
<div class="row-fluid">
  <div class="span4">
    <ul id="navtabs" class="nav nav-list well well-small">
      <li class="nav-header">{% trans "Mallit" %}</li>
      <li><a href="{% url servo.views.device.index %}">{% trans "Kaikki" %}</a></li>
      {% recursetree tags %}
      <li>
        <a href="{% url servo.views.device.index tag=node.id %}">{{ node.title }}</a>
        {% if not node.is_leaf_node %}
        <ul>{{ children }}</ul>
        {% endif %}
      </li>
    {% endrecursetree %}
    </ul>
  </div>
  <div class="span8">
    <a href="new/" class="btn btn-primary pull-right">{% trans "Uusi laite" %}</a>
    {% include "devices/list.html" %}
    {% include "pagination.html" with items=devices %}
  </div>
</div>
{% endblock content %}
