{% extends "default.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block navtabs %}
{% endblock navtabs %}

{% block content %}
<div class="row">
  <div class="span4">
    <ul id="navtabs" class="nav nav-list well well-small">
      <li class="nav-header">{% trans "Mallit" %}</li>
      <li><a href="{% url devices.views.index %}">{% trans "Kaikki" %}</a></li>
      {% recursetree tags %}
      <li>
        <a href="{% url devices.views.index tag=node.id %}">{{ node.title }}</a>
        {% if not node.is_leaf_node %}
        <ul>{{ children }}</ul>
        {% endif %}
      </li>
    {% endrecursetree %}
    </ul>
  </div>
  <div class="span8">
    {% include "devices/list.html" %}
    {% include "pagination.html" with items=devices %}
  </div>
</div>
{% endblock content %}
