{% load i18n %}

<table class="table">
{% for device in devices %}
  <tr>
    <td><a href="{% url servo.views.device.edit device.id %}">{{ device.sn }}</a></td>
    <td>{{ device.description }}</td>
    <td>{{ device.purchased_on }}</td>
    <td>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
          <i class="icon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        {% if request.session.current_order %}
          <li><a href="{% url servo.views.order.add_device request.session.current_order.id device.id %}">{% trans "Vie tilaukselle" %} #{{ request.session.current_order.id }}</a></li>
          <li class="divider"></li>
        {% endif %}
          <li><a href="/orders/create/sn/{{ device.sn }}/">{% trans "Luo tilaus" %}</a></li>
          <li><a href="/orders/device/{{ device.id }}">{% trans "Tilaukset" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url servo.views.device.remove device.id %}">{% trans "Poista" %}</a></li>
        </ul>
      </div>
    </td>
  </tr>
{% endfor %}
</table>
