<form method="post" action="/search/lookup-device-local" accept-charset="utf-8" id="searchForm">
	<div class="search-left"></div>
	<div class="search-right"></div>
	<div class="search-mid"><input type="text" id="searchQuery"/></div>
</form>
<ul class="tabs searchSource">
  <li><a href="#localResults" data-url="/search/lookup-device-local">Servo</a></li><li><a href="#gsxResults" data-url="/search/lookup-device-gsx">GSX</a></li>
</ul>
<div class="tab results" id="localResults"></div>
<div class="tab results" id="gsxResults"></div>
