{% extends "admin/users/index.html" %}
{% load i18n %}
{% block admin_content %}
<form action="" method="post" accept-charset="utf-8" class="form-horizontal">
    {% csrf_token %}
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">{% trans "Yleiset" %}</a></li>
      <li><a href="#tab2" data-toggle="tab">{% trans "Oikeudet" %}</a></li>
      <li><a href="#tab3" data-toggle="tab">{% trans "Lisätiedot" %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            {% include "form_field_snippet.html" with field=form.username %}
            {% include "form_field_snippet.html" with field=form.first_name %}
            {% include "form_field_snippet.html" with field=form.last_name %}
            {% include "form_field_snippet.html" with field=form.email %}
            {% include "form_field_snippet.html" with field=form.password %}
            {% include "form_field_snippet.html" with field=form.is_active %}
        </div>
        <div class="tab-pane" id="tab2">
            {% include "form_field_snippet.html" with field=form.is_staff %}
            {% include "form_field_snippet.html" with field=form.is_superuser %}
            {% include "form_field_snippet.html" with field=form.groups %}
        </div>
        <div class="tab-pane" id="tab3">
            {% include "form_snippet.html" with form=profile_form %}
        </div>
    </div>
    {% include "form_buttons.html" %}
</form>
{% endblock admin_content %}
