{% extends "admin/index.html" %}
{% load i18n %}

{% block admin_content %}
<ul class="nav nav-tabs" id="navtabs">
  <li><a href="/admin/users/">{% trans "Käyttäjät" %}</a></li>
  <li><a href="/admin/groups/">{% trans "Ryhmät" %}</a></li>
  <li class="pull-right"><a href="new">{% trans "Luo käyttäjä" %}</a></li>
</ul>

<table class="table">
{% for user in users %}
  <tr>
    <td><a href="{{ user.pk }}/view/">{{ user.username }}</a></td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ user.pk }}/edit/">{% trans "Muokkaa" %}</a></li>
          <li><a href="{{ user.pk }}/delete/">{% trans "Poista" %}</a></li>
        </ul>
      </div>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
