<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpg" />
    <link rel="apple-touch-icon" href="/images/servo_logo.jpg" />
    {% load staticfiles %}
    {% load i18n %}
    <script src="{{STATIC_URL }}js/jquery-min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL }}js/underscore-min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL }}js/backbone-min.js" type="text/javascript"></script>	
    <script src="{{STATIC_URL }}js/jquery-ui.custom.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL }}js/jquery.fileupload.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL }}js/jquery.iframe-transport.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL }}js/servo.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            window.app = new ServoApp();
            Backbone.history.start({pushState: true});
        });
    </script>
    <style type="text/css" media="screen">
        @import url("{{STATIC_URL }}css/dark.css");
        @import url("{{STATIC_URL }}css/Aristo/Aristo.css");
    </style>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div id="page">
        <div id="popup">
            <div class="content"></div>
            <div id="drawer" class="searchTab"></div>
            <div class="buttons">
                <div>
                    <a href="javascript:;" class="save button"><span>{% trans 'OK' %}</span></a>
                    <a href="javascript:;" class="cancel button"><span>{% trans 'Peruuta' %}</span></a>
                </div>
            </div>
        </div><!-- //#popup -->

    <div id="toolbar">
        <ul id="primary">
            <li><a class="create" id="create-button" href="javascript:;" title="{% trans 'Lisää' %}"></a>
            {% block toolbar %}{% endblock %}
            </li>
            <li><a href="javascript:;" class="delete disabled popup" id="delete-button" title="{% trans 'Poista' %}"></a></li>
            <li><a href="javascript:;" class="edit disabled" id="edit-button" title="{% trans 'Muokkaa' %}"></a></li>
        </ul>

        <ul id="secondary">
          {% block secondary %}{% endblock %}
        </ul><!-- //#secondary -->

        <form action="<?php print $this->searchAction ?>" id="search">
            <input type="text" id="search_query" name="q"/>
        </form>
    </div><!-- //#toolbar -->

    <div id="main_view">
        <div id="side_pane">
{% block sidebar %}
            <ul>
                <li>
                    <span class="head" id="sidebar-item-1">Filipp Lepalaan</span>
                    <ul class="sidebar-item-1">
                        <li><a href="/orders/index/user/filipp" class="home">{% trans "Kotisivu" %}</a></li>
                        <li><a href="/message/" class="message">{% trans "Viestit" %}</a></li>
                        <li><a href="/calendar/" class="calendar">{% trans "Kalenterit" %}</a></li>
                        <li><a href="/article/" class="article">{% trans "Artikkelit" %}</a></li>
                        <li><a href="/user/settings" class="prefs popup">{% trans "Asetukset" %}</a></li>
                        <li><a href="/user/logout" class="lock popup">{% trans "Kirjaudu ulos" %}...</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-2">{% trans "Tilaukset" %}</span>
                    <ul class="sidebar-item-2">
                        <li class=""><a href="/orders/index/user/nobody" class="table">{% trans "Jonossa" %}</a></li>
                        <li><a href="/orders/index/state/open" class="table">{% trans "Avoimet" %}</a></li>
                        <li><a href="/orders/index/search/4f8c7f1034db74e25c000000" class="gear draggable">My aging repairs</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-3">{% trans "Varasto" %}</span>
                    <ul class="sidebar-item-3">
                        <li><a href="/products/index" class="table">{% trans "Tuotteet" %}</a></li>
                        <li><a href="/purchase-order/incoming" class="down">{% trans "Saapuvat" %}</a></li>
                        <li><a href="/products/outgoing" class="up">{% trans "Lähtevät" %}</a></li>
                        <li><a href="/purchase-order/index" class="table">{% trans "Ostotilaukset" %}</a></li>
                        <li><a href="/invoice/index" class="table">{% trans "Myyntilaskut" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-4">{% trans "Asiakkaat" %}</span>
                    <ul class="sidebar-item-4">
                        <li><a href="/customer/index" class="ab">{% trans "Selaa" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-5">{% trans "Laitteet" %}</span>
                    <ul class="sidebar-item-5">
                        <li><a href="/device/index" class="device">{% trans "Selaa" %}</a></li>
                        <li><a href="/specs/index" class="db">{% trans "Mallit" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-6">{% trans "Ylläpito" %}</span>
                    <ul class="sidebar-item-6">
                        <li><a href="/admin/settings" class="prefs popup">{% trans "Asetukset" %}</a></li>
                        <li><a href="/admin/queues" class="inbox">{% trans "Jonot" %}</a></li>
                        <li><a href="/admin/status" class="color">{% trans "Statukset" %}</a></li>
                        <li><a href="/admin/locations" class="globe">{% trans "Toimipaikat" %}</a></li>
                        <li><a href="/admin/users" class="user">{% trans "Käyttäjät" %}</a></li>
                        <li><a href="/gsx/accounts" class="db">{% trans "GSX-tilit" %}</a></li>
                        <li><a href="/admin/automation" class="gear">{% trans "Automaatiot" %}</a></li>
                        <li><a href="/admin/fields/" class="db">{% trans "Kentät" %}</a></li>
                        <li><a href="/admin/templates" class="document">{% trans "Pohjat" %}</a></li>
                        <li><a href="/admin/files" class="folder">{% trans "Tiedostot" %}</a></li>
                        <li><a href="/admin/tags" class="db">{% trans "Tagit" %}</a></li>
                    </ul>
                </li>
{% endblock %}
            </ul>
        </div><!-- //#side_pane -->

        <div id="main_pane">
            <div id="pager">
                <img id="pager_icon" src="/static/images/dark/info.png" alt=""/>
                <div id="pager_msg"></div>
                <a href="javascript:;" class="button"><span>{% trans 'OK' %}</span></a>
            </div><!-- //#pager -->
            
            <div id="main_content">
{% block content %}{% endblock %}
            </div><!-- //#main_content -->
        </div><!-- //#main_pane -->
    </div><!-- //#main_view -->
    </div><!-- //#page -->
</body>
</html>
