<html>
<head>
    {% load static %}
    {% load i18n %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpg" />
    <link rel="apple-touch-icon" href="/images/servo_logo.jpg" />
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/underscore-min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/backbone-min.js" %}" type="text/javascript"></script>  
    <script src="{% static "js/jquery-ui.custom.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.fileupload.js" %}" type="text/javascript"
      charset="utf-8"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"
      type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/servo.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            window.app = new ServoApp();
            Backbone.history.start({pushState: true});
        });
    </script>
    <style type="text/css" media="screen">
        @import url("{% static "css/dark.css" %}");
        @import url("{% static "css/Aristo/Aristo.css" %}");
    </style>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div id="page">
        <div id="popup">
            <div class="content"></div>
            <div id="status_bar"></div>
            <div id="drawer" class="searchTab"></div>
            <div class="buttons">
                <img id="pager_spinner" src="/static/images/ajax-loader.gif"/>
                <div>
                    <a href="javascript:;" class="save button"><span>{% trans 'OK' %}</span></a>
                    <a href="javascript:;" class="cancel button"><span>{% trans 'Peruuta' %}</span></a>
                </div>
            </div>
        </div><!-- //#popup -->

    <div id="toolbar">
        <div id="col1" class="view column" style="width:228px;"></div>
        <div id="col2" class="view column" style="width:280px;left:229px;border-right:1px solid #222;border-left:1px solid #222">
            <div class="search-column" style="margin:8px">
                <div class="view search-left" style="left:10px;width:26px;height:31px"></div>
                <div class="view search-right" style="right:10px;width:20px;height:31px"></div>
                <div class="view search-mid" style="left:36px;height:31px">
                    <input type="text" name="q" style="width:214px;background:transparent;padding:5px"/>
                </div>
            </div>
        </div>
        <div id="col3" class="view column" style="left:520px;right:0px;width:auto">
            {% block secondary %}{% endblock %}
            <div class="view button user shownext" style="right:8px"></div>
            <div class="view popup-menu" style="right:8px;top:45px;width:160px">
                <ul>
                    <li><a href="/orders/index/user/filipp" class="home">{% trans "Kotisivu" %}</a></li>
                    <li><a href="/message/" class="message">{% trans "Viestit" %}</a></li>
                    <li><a href="/user/settings" class="prefs popup">{% trans "Asetukset" %}...</a></li>
                    <li><a href="/user/logout" class="lock popup">{% trans "Kirjaudu ulos" %}...</a></li>
                </ul>
            </div>
        </div>
    </div><!-- //#toolbar -->

    <div id="main_view">
        <div id="side_pane">
{% block sidebar %}
            <ul>
            <li>
                <span class="head" id="sidebar-item-2">{% trans "Tilaukset" %}</span>
                <ul class="sidebar-item-2">
                    <li class=""><a href="/orders/index/user/nobody" class="table">{% trans "Jonossa" %}</a></li>
                    <li><a href="/orders/index/state/1" class="table">{% trans "Avoimet" %}</a></li>
                    {% block order_searches %}
                          
                    {% endblock order_searches %}
                  </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-3">{% trans "Varasto" %}</span>
                    <ul class="sidebar-item-3">
                        <li><a href="/products/" class="table">{% trans "Tuotteet" %}</a></li>
                        <li><a href="/store/po/incoming" class="down">{% trans "Saapuvat" %}</a></li>
                        <li><a href="/products/outgoing" class="up">{% trans "Lähtevät" %}</a></li>
                        <li><a href="/store/po/index" class="table">{% trans "Ostotilaukset" %}</a></li>
                        <li><a href="/store/invoices" class="table">{% trans "Myyntilaskut" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-4">{% trans "Asiakkaat" %}</span>
                    <ul class="sidebar-item-4">
                        <li><a href="/customers/" class="ab">{% trans "Selaa" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-5">{% trans "Laitteet" %}</span>
                    <ul class="sidebar-item-5">
                        <li><a href="/device/index" class="device">{% trans "Selaa" %}</a></li>
                        <li><a href="/specs/index" class="db">{% trans "Mallit" %}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="head" id="sidebar-item-6">{% trans "Ylläpito" %}</span>
                    <ul class="sidebar-item-6">
                      <li><a href="/admin/settings" class="prefs popup">{% trans "Asetukset" %}</a></li>
                      <li><a href="/admin/queues" class="inbox">{% trans "Jonot" %}</a></li>
                      <li><a href="/admin/status" class="color">{% trans "Statukset" %}</a></li>
                      <li><a href="/admin/locations" class="globe">{% trans "Toimipaikat" %}</a></li>
                      <li><a href="/admin/users" class="user">{% trans "Käyttäjät" %}</a></li>
                      <li><a href="/gsx/accounts" class="db">{% trans "GSX-tilit" %}</a></li>
                      <li><a href="/admin/automation" class="gear">{% trans "Automaatiot" %}</a></li>
                      <li><a href="/admin/fields/" class="db">{% trans "Kentät" %}</a></li>
                      <li><a href="/admin/templates" class="document">{% trans "Pohjat" %}</a></li>
                      <li><a href="/admin/files" class="folder">{% trans "Tiedostot" %}</a></li>
                      <li><a href="/admin/tags" class="db">{% trans "Tagit" %}</a></li>
                    </ul>
                </li>
{% endblock %}
            </ul>
        </div><!-- //#side_pane -->

        <div id="main_pane">
          <div id="main_content">
{% block content %}{% endblock %}
          </div><!-- //#main_content -->
        </div><!-- //#main_pane -->
    </div><!-- //#main_view -->
    </div><!-- //#page -->
</body>
</html>
