{% load i18n %}
<form action="/calendar/save_event" method="post" rel="events">
	{% csrf_token %}
	<input type="hidden" name="id" value="{{ event.id }}"/>
	<input type="hidden" name="calendar" value="{{ event.calendar }}"/>
	<label>{% trans "Alku" %}:</label>
	<input
	   type="text"
	   readonly="readonly"
	   name="started_at"
	   class="date datepicker"
	   value="{{ event.started_at|date:"d.m.y" }}"/>
	@
	<input
		type="text"
		class="short"
		name="started_at"
		value="{{ event.started_at|date:"H:i" }}"/>
	<br/>
	<label>{% trans "Loppu" %}:</label>
	<input
	   type="text"
	   name="finished_at"
	   class="date datepicker"
	   value="{{ event.finished_at|date:"d.m.y" }}"/>
	@
	<input
		type="text"
		class="short"
		name="finished_at"
		value="{{ event.finished_at|date:"H:i" }}"/>
	<br/>
	<label>{% trans "Merkintä" %}:</label>
	<textarea name="description">{{ event.description }}</textarea>
</form>
<script type="text/javascript">
	$('.datepicker').datepicker({dateFormat: "dd.mm.y"});
</script>
