{% load servo_extras %}
{% load mptt_tags %}
{% recursetree nodes %}
<address>
    <strong><a href="{% url servo.views.customer.view node.id %}">{{ node.name }}</a></strong><br/>
{% if node.email %}
    <a href="{% url servo.views.note.edit recipient=node.email, order_id=order.id %}">{{ node.email|truncatechars:26 }}</a><br/>
{% endif %}
{% if node.phone %}
    <a href="{% url servo.views.note.edit recipient=node.phone, order_id=order.id %}">{{ node.phone|truncatechars:26 }}</a><br/>
{% endif %}
    {{ node.street_address }}<br/>
    {{ node.zip_code }} {{ node.city }}
    {% for k, v in node.fullprops.items %}
        {{ k }}: {{ v }}<br/>
    {% endfor %}
</address>
{{ children }}
{% endrecursetree %}
