{% load i18n %}
{% load extras %}
<table class="table">
	<thead>
		<tr><th colspan="6">{% trans "Laitteet" %}</th></tr>
	</thead>
	<tbody>
	{% for device in order.devices.all %}
  	<tr>
    	<td><a href="{% url servo.views.device.view device.id %}">{{ device.sn }}</a></td>
    	<td>{{ device.description }}</td>
    	<td>{{ device.username }}</td>
    	<td>{{ device.password }}</td>
    	<td><a href="/device/mri/sn/{{ device.sn }}">{% trans "Tuntematon" %}</a></td>
    	<td style="width:36px">
        <div class="btn-group pull-right">
          <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url servo.views.order.parts order.id device.id %}">{% trans "Näytä varaosat" %}</a></li>
            <li><a href="{% url servo.views.order.create_gsx_repair order.id %}">{% trans "Luo GSX korjaus" %}</a></li>
            <li class="divider"></li>
          	<li><a href="{% url servo.views.device.edit device.id %}">{% trans "Muokkaa" %}</a></li>
            <li><a href="{% url servo.views.order.remove_device order.id device.id %}">{% trans "Poista" %}</a></li>
          </ul>
        </div>
      </td>
  	</tr>
  	{% empty %}
  	<tr>
  		<td colspan="5" class="muted" style="text-align:center">{% trans "Ei laitteita" %}</td>
  	</tr>
{% endfor %}
	</tbody>
</table>
