{% extends "default.html" %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{% url orders.views.index %}">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url orders.views.edit order.id %}">#{{ order.code }}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Toimitus" %}</li>
</ul>

<div class="row">
  <form method="post" action="{% url orders.views.dispatch order.id %}" accept-charset="utf8">
    {% csrf_token %}
    <div class="span3">
      {% include "form_field_snippet.html" with field=form.payment_method %}
      {% include "form_field_snippet.html" with field=form.customer_name %}
      {% include "form_field_snippet.html" with field=form.customer_email %}
      {% include "form_field_snippet.html" with field=form.customer_phone %}
      {% include "form_field_snippet.html" with field=form.customer_address %}
      {% include "form_field_snippet.html" with field=form.is_paid %}
    </div>
    <div class="span9">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{% trans "Tuote" %}</th>
            <th>{% trans "Määrä" %}</th>
            <th>{% trans "ALV 0%" %}</th>
            <th>{% trans "ALV" %}</th>
            <th>{% trans "Yhteensä" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for p in products %}
          <tr>
            <td><input type="checkbox" name="items" value="{{ p.id }}" checked="checked"/></td>
            <td>{{ p.product.title }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.product.price_notax }}</td>
            <td>{{ p.product.tax }}</td>
            <td>{{ p.price }} </td>
          </tr>
          {% if p.product.is_serialized %}
          <tr>
            <td></td>
            <td style="text-align:right">{% trans "SN" %}:</td>
            <td>
              <input type="text" value="{{ p.sn }}" name="products.{{ forloop.counter0 }}.sn"/>
            </td>
            <td colspan="4"></td>
          </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td></td>
          <td style="text-align:right">{% trans "Yhteensä" %}:</td>
          <td>{{ totals.amount  }}</td>
          <td><input type="text" readonly="readonly" class="input-mini" value="{{ order.net_total }}" name="total_net"/></td>
          <td><input type="text" readonly="readonly" class="input-mini" value="{{ order.total_tax }}" name="total_tax"/></td>
          <td><input type="text" readonly="readonly" class="input-mini" value="{{ order.gross_total }}" name="total_gross"/></td>
        </tr>
      </tbody>
    </table>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary pull-right">{% trans "Toimita" %}</button>
    </div>
  </div>
  </form>
</div>
{% endblock content %}
