{% extends "default.html" %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{% url servo.views.orders.index %}">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url servo.views.orders.edit order.id %}">#{{ order.code }}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Toimitus" %}</li>
</ul>

<div class="row">
  <form method="post" action="{% url servo.views.orders.dispatch order.id %}" accept-charset="utf8">
    {% csrf_token %}
    <div class="span3">
      {{ form.customer }}
      {% include "form_snippet.html" %}
    </div>
    <div class="span9">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{% trans "Numero" %}</th>
            <th>{% trans "Tuote" %}</th>
            <th>{% trans "Määrä" %}</th>
            <th>{% trans "ALV 0%" %}</th>
            <th>{% trans "ALV" %}</th>
            <th>{% trans "Yhteensä" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for p in order.serviceorderitem_set.all %}
          <tr>
            <td><input type="checkbox" name="items" value="{{ p.id }}" checked="checked"/></td>
            <td>{{ p.product.id }}</td>
            <td>{{ p.product.title }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.product.price_notax }}</td>
            <td>{{ p.product.tax }}</td>
            <td>{{ p.price }} </td>
          </tr>
          {% if p.product.is_serialized %}
          <tr>
            <td></td>
            <td style="text-align:right">{% trans "SN" %}:</td>
            <td>
              <input type="text" value="{{ p.sn }}" name="products.{{ forloop.counter0 }}.sn"/>
            </td>
            <td colspan="4"></td>
          </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td style="text-align:right">{% trans "Yhteensä" %}:</td>
          <td>{{ totals.amount}} </td>
          <td>{{ order.net_total }}</td>
          <td>{{ totals.tax }}</td>
          <td>{{ order.gross_total }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary pull-right">{% trans "Toimita" %}</button>
  </div>
  </form>
</div>
{% endblock content %}
