{% extends "orders/edit.html" %}
{% load i18n %}
{% block navtabs %}
<ul class="breadcrumb">
  <li><a href="{% url servo.views.order.index %}">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url servo.views.order.index %}">ID</a> <span class="divider">/</span></li>
  <li><a href="{% url servo.views.order.index %}">Tuote</a> <span class="divider">/</span></li>
</ul>
{% endblock navtabs %}

{% block content %}
<form method="post" action="#" class="form-horizontal">
	{% csrf_token %}
	{% include "form_snippet.html" %}
	{% include "form_buttons.html" %}
</form>
{% endblock content %}
