{% extends "orders/edit.html" %}
{% load i18n %}
{% block navtabs %}
<ul class="breadcrumb">
  <li><a href="{% url orders.views.index %}">{% trans "Tilaukset" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url orders.views.index %}">ID</a> <span class="divider">/</span></li>
  <li><a href="{% url orders.views.index %}">Tuote</a> <span class="divider">/</span></li>
</ul>
{% endblock navtabs %}

{% block content %}
	<form method="post" action="#">
		{% csrf_token %}
		{% include "form_snippet.html" %}
		{% include "form_buttons.html" %}
	</form>
{% endblock content %}
