{% extends "modal.html" %}
{% load i18n %}

{% block header %}
    {% blocktrans with id=order.code%}Poistetaanko tilaus {{ id }}? {% endblocktrans %}
{% endblock header %}

{% block body %}
    <p>{% trans 'Tämä poistaa myös tilaukseen lisätyt tehtävät ja tapahtumat. Toimintoa ei voi peruuttaa.' %}</p>
{% endblock body %}

{% block footer %}
    <form action="remove/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger pull-right">{% trans "Poista" %}</button>
    </form>
{% endblock footer %}
