{% load i18n %}
<form action="/message/save" method="post" rel="messages" accept-charset="utf-8">
    {% csrf_token %}
{% if message.id %}
    <input name="id" type="hidden" value="{{ message.id }}"/>
{% endif %}    
    <input name="path" type="hidden" value="{{ message.path }}"/>
    
    <select class="label chooser" rel="body">
      <option value="0">{% trans 'Viesti' %}…</option>
{% for t in templates %}
      <option value="{{ t.id }}">{{ t.title }}</option>
{% endfor %}
   </select>
   
    <textarea id="body" name="body">{{ message.body }}</textarea>
    <br/>
    <label>{% trans 'Sähköposti' %}:</label>
    <input type="text" id="mailto" name="mailto" value="{{ message.mailto }}"/>
    <br/>
    <label>{% trans 'Puhelin' %}:</label>
    <input id="smsto" type="text" name="smsto" value="{{ message.smsto }}"/>
    <br/>
    <label>{% trans 'Liite' %}:</label>
    <input type="file" id="fileupload" name="incoming"/>
    <ul id="attachments">
{% for a in message.attachments %}
      <li><a href="/document/">{{ a.name }}</a></li>
{% endfor %}
    </ul>
</form>

<script type="text/javascript">
    $(".chooser").change(function() {
        var ta = "#" + $(this).attr("rel");
        $(ta).load("/template/view/" + $(this).val());
    });
    
    $("#fileupload").fileupload({
        url: "/document/save",
        done: function(e, data) {
          file = data.result;
            $("<li/>").text(file.name).appendTo($("#attachments"));
            $("<input/>").attr("type", "hidden")
                .attr("name", "attachments")
                .val(file.id)
                .insertAfter("#fileupload");
        }
    });
</script>
