{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{% block toolbar %}
  <ul>
    <li><a href="/message/create" class="popup">{% trans "Uusi viesti" %}</a></li>
  </ul>
{% endblock %}

{% block content %}

<div class="listView small_block">
    <ul id="messages">
{% for i in messages %}
        <li data-url="/message/view/{{ i.id }}" class="{% cycle 'odd' 'even'  %}">{{ i.subject }}</li>
{% endfor %}
    </ul>
</div>

<div id="detailView" style="padding: 10px"></div>

{% endblock %}
