{% load i18n %}
<div class="tabView">
    <ul class="tabs">
        <li><a href="#info">{% trans "Perustiedot" %}</a></li><li><a href="#gsx">{% trans "GSX" %}</a></li>
    </ul>

<form method="post" action="/device/save" accept-charset="utf-8" rel="devices">
    {% csrf_token %}
    {% if id %}<input type="hidden" name="id" value="{{ device.id }}"/>{% endif %}
    <div id="info" class="tab">
        <label>{% trans "Sarjanumero" %}:</label>
        <input name="sn" type="text" value="{{ device.sn }}" class="ucase searchable"/>
        <a class="search" href="javascript:;" data-url="/device/search"></a>
        <br/>
        <label>{% trans "Malli" %}:</label>
        {{ form.description }}
        <br/>
        <label class="mid">{% trans "Käyttäjä" %}:</label>
        {{ form.username }}
        <br/>
        <label>{% trans "Salasana" %}:</label>
        {{ form.password }}
        <br/>
        <label>{% trans "Ostettu" %}:</label>
        {{ form.purchased_on }}
        <br/>
        <label>{% trans "Loppuu" %}:</label>
        <input type="text" value="{{ device.warranty_ends }}" />
        <br/>
        <label>{% trans "Lisätiedot" %}:</label>
        <textarea id="notes" name="notes">{{ device.notes }}</textarea>
    </div>
    <div id="gsx" class="tab">
{% for k, v in gsx_data.items %}
        <label style="width:150px">{{ k }}:</label>
        <input type="text" readonly="readonly" style="width:50%" name="gsx_data.{{ k }}" value="{{ v }}"/>
        <br/>
{% endfor %}
    </div>
</form>
</div>
