{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}

{% block toolbar %}

<ul>
  <li><a href="/device/create" class="popup">{% trans "Uusi laite" %}</a></li>
</ul>

{% endblock toolbar %}

{% block content %}

<div class="tableView" id="devices" data-url="/device/index">
    <table class="selectable">
        <tbody>
{% for device in devices %}
            <tr data-url="/device/{{ device.id }}/" class="{% cycle 'odd' 'even' %}">
                <td><a href="/device/edit/{{ device.id }}" class="popup">{{ device.sn }}</a></td>
                <td>{{ device.description }}</td>
                <td>{{ device.purchased_on }}</td>
                <td><a href="/orders/index/device/{{ device.id }}">{% trans "Tilaukset" %}</a></td>
            </tr>
{% empty %}
            <tr><td colspan="3" class="empty">{% trans "Ei yhtään laitetta" %}</td></tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
