{% load i18n %}

<form method="post" action="/store/dispatch" method="post" accept-charset="utf8">
  {% csrf_token %}
  {% if  order.id %}
    <input type="hidden" name="order" value="{{ order.id }}"/>  
  {% endif %}
  <table>
    <thead>
        <tr style="font-size:x-small">
            <th><span style="padding-left:5px">{% trans "Numero" %}</span></th>
            <th style="width:200px"><span style="padding-left:5px">{% trans "Tuote" %}</span></th>
            <th style="width:30px"><span style="padding-left:5px">{% trans "Määrä" %}</span></th>
            <th style="width:50px"><span style="padding-left:5px">{% trans "ALV 0%" %}</span></th>
            <th style="width:50px"><span style="padding-left:5px">{% trans "ALV" %}</span></th>
            <th style="width:50px"><span style="padding-left:5px">{% trans "Yhteensä" %}</span></th>
        </tr>
    </thead>
    <tbody>
{% for p in products %}
        <tr>
            <td>
                <input
                    type="text"
                    readonly="readonly"
                    value="{{ p.product.number }}"
                    name="products.{{ forloop.counter0 }}.number"/>
            </td>
            <td>
                <input
                    type="text"
                    value="{{ p.product.title }}"
                    name="products.{{ forloop.counter0 }}.title"/>
            </td>
            <td>
                <input
                    type="text"
                    maxlength="2"
                    class="amount"
                    value="{{ p.amount }}"
                    name="products.{{ forloop.counter0 }}.amount"/>
            </td>
            <td>
                <input
                    type="text"
                    class="price_notax"
                    readonly="readonly"
                    value="{{ p.product.price_notax }}"
                    name="products.{{ forloop.counter0 }}.price_notax"/>
                <input type="hidden" class="pc_price_notax" value="{{ p.product.price_notax }}"/>
            </td>
            <td>
                <input
                    type="text"
                    class="price_tax"
                    readonly="readonly"
                    value="{{ p.product.tax }}"
                    name="products.{{ forloop.counter0 }}.tax"/>
                <input type="hidden" class="pct_tax" value="{{ p.product.pct_vat }}"/>
            </td>
            <td>
                <input
                    type="text"
                    class="price_sales"
                    value="{{ p.product.price_sales }}"
                    name="products.{{ forloop.counter0 }}.price_sales"/>
                <input type="hidden" class="pc_price_notax" value="{{ p.product.price_notax }}"/>
            </td>
        </tr>
{% if p.product.is_serialized %}
        <tr>
            <td style="text-align:right">{% trans "SN" %}:</td>
            <td>
                <input
                    type="text"
                    value="{{ p.sn }}"
                    name="products.{{ forloop.counter0 }}.sn"/>
            </td>
            <td colspan="4"></td>
        </tr>
{% endif %}
{% endfor %}
    <tr>
        <td></td>
        <td style="text-align:right">{% trans "Yhteensä" %}:</td>
        <td><input
            type="text"
            id="total_amount"
            name="total_amount"
            readonly="readonly"
            value="{{ totals.amount }}"/></td>
        <td><input
            type="text"
            id="total_notax"
            name="total_notax"
            readonly="readonly"
            value="{{ totals.notax }}"/></td>
        <td><input
            type="text"
            id="total_tax"
            name="total_tax"
            readonly="readonly"
            value="{{ totals.tax }}"/></td>
        <td><input
            type="text"
            id="total_sum"
            name="total_sum"
            readonly="readonly"
            value="{{ totals.sum }}"/></td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:right">{% trans "Maksutapa" %}:</td>
        <td colspan="4">
            <select name="payment_method">
              <option>{% trans "Ei veloitusta" %}</option>
              <option>{% trans "Käteinen" %}</option>
              <option>{% trans "Lasku" %}</option>
              <option>{% trans "Maksukortti" %}</option>
              <option>{% trans "Postiennakko" %}</option>
              <option>{% trans "Verkkomaksu" %}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:right">{% trans "Maksettu" %}:</td>
        <td colspan="4"><input type="checkbox" name="paid" checked="checked" value="Y"/></td>
    </tr>
</table>
</form>
<script type="text/javascript">
    // amount of any row changed
    $(".amount").change(function()
    {
        total_amount = 0;
        var amount = $(this).val();
        console.log(amount);
        
        // sum up total amount
        $(".amount").each(function() {
            total_amount += parseFloat($(this).val());
        });

        $("#total_amount").val(total_amount);

        next_val = $(this).closest("tr").find(".pc_price_notax").val();
        console.log(next_val);
        // the "next" field
        var next = $(this).closest("tr").find(".price_notax");
        next.val(parseFloat(next_val * amount));

        // kick the next field
        next.trigger("change")
    });

    // price w/o tax of any row changed
    $(".price_notax").change(function(event, arg)
    {
        total_notax = 0;
        var price_notax = parseFloat($(this).val());

        // sum up total prices w/o tax
        $(".price_notax").each(function() {
            total_notax += parseFloat($(this).val());
        });

        $("#total_notax").val(total_notax);

        next = $(this).closest("tr").find(".price_tax")
        // kick the next field
        next.trigger("change", price_notax);
    });
    
    // tax amount of row changed
    // this field is read-only
    $(".price_tax").change(function(event, price_notax)
    {
        total_tax = 0;
        price_tax = parseFloat($(this).val());

        // calculate the actual amount of tax for this row
        var next_val = parseFloat($(this).next(".pct_tax").val());
        var tax_val = parseFloat(price_notax/100*next_val);
        $(this).val(tax_val);

        $(".price_tax").each(function() {
            total_tax += parseFloat($(this).val());
        });
        $("#total_tax").val(total_tax);
        
        // kick the next field
        next = $(this).closest("tr").find(".price_sales")
        next.val(tax_val + price_notax);

        next.trigger("change", [price_notax, tax_val]);
    });

    $(".price_sales").change(function(event, notax, tax)
    {
        total_sum = 0;

        $(".price_sales").each(function() {
            total_sum += parseFloat($(this).val());
        });
        $("#total_sum").val(total_sum);
    });
</script>
