{% extends request.is_ajax|yesno:"empty.html,default.html" %}

{% block secondary %}
    <li><a href="/document/4fbdd0470008934de8000004/print/invoice/4fbdcf9c0008934de8000000" class="print window"></a></li>
{% endblock secondary %}

{% load i18n %}
{% block content %}
<div class="tableView" data-url="/store/invoices" id="invoices">
  <table class="sortable">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "Tilaus" %}</th>
        <th>{% trans "Asiakas" %}</th>
        <th>{% trans "Summa" %}</th>
        <th>{% trans "Luotu" %}</th>
        <th>{% trans "Maksettu" %}</th>
        <th>{% trans "Maksutapa" %}</th>
      </tr>
    </thead>
    <tbody>
{% for i in invoices %}
      <tr data-url="/store/invoice/{{ i.id }}" class="{% cycle "odd" "even" %}">
        <td>{{ i.number }}</td>
        <td><a href="/orders/edit/{{ i.order.id }}">{{ i.order.number }}</a></td>
        <td>{{ i.customer.name }}</td>
        <td>{{ i.total_payable }}</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.paid_at }}</td>
        <td>{{ i.payment_method }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
