{% load i18n %}
<div class="tabView">
    <ul class="tabs">
       <li><a href="#items">{% trans "Tuotteet" %}</a></li><li><a href="#dispatch">{% trans "Tilaus" %}</a></li><li><a href="#delivery">{% trans "Toimitus" %}</a></li>
    </ul>

<form method="post" rel="purchase-orders" accept-charset="utf-8" action="/store/save_po">
  {% csrf_token %}
{% if order.id %}
  <input type="hidden" name="id" value="{{ order.id }}"/>
{% endif %}

    <div id="items" class="tab">
        <table>
            <thead>
                <tr>
                    <th class="short">{% trans "Koodi" %}</th>
                    <th>{% trans "Nimike" %}</th>
                    <th>{% trans "Kpl" %}</th>
                    <th>{% trans "Hinta" %}</th>
                </tr>
            </thead>
            <tbody>
{% for item in products %}
                <tr>
                    <td><input type="text" name="code" value="{{ item.code }}"/></td>
                    <td><input type="text" name="title" value="{{ item.title }}"/></td>
                    <td><input type="text" name="amount" value="{{ item.amount_ordered }}"/></td>
                    <td><input type="text" class="price" name="price" value="{{ item.price_purchase }}"/></td>
              </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="dispatch" class="tab">
        <label>{% trans "Huoltotilaus" %}:</label>
        {{ form.reference }}
        <br/>
        <label>{% trans "Vahvistusnro" %}:</label>
        {{ form.confirmation }}
        <br/>
        <label>{% trans "Tilausviite" %}:</label>
        {{ form.dispatch_id }}
        <br/>
        <label>{% trans "Maksuviite" %}:</label>
        {{ form.sales_order }}
        <br/>
        <label>{% trans "Tilattu" %}:</label>
        {{ form.date_ordered }}
    </div><!-- //#dispatch -->
    
    <div id="delivery" class="tab">
        <label>{% trans "Toimittaja" %}:</label>
        <input type="text" name="supplier" class="autocomplete" data-type="supplier" value="{{ order.supplier }}"/>
        <br/>
        <label>{% trans "Toimitusaika" %}:</label>
        {{ form.days_delivered }}
        <br/>
        <label>{% trans "Saapuu" %}:</label>
        {{ form.date_arrived }}
        <br/>
        <label>{% trans "Toimitustapa" %}:</label>
        {{ form.carrier }}
        <br/>
        <label>{% trans "Seurantanro" %}:</label>
        {{ form.tracking_id }}
    </div><!-- //#delivery -->
</form>
</div>
<script type="text/javascript">
    $('.datepicker').datepicker({dateFormat: "d.m.yy"});
</script>