{% load i18n %}

<div class="tabView">
    <ul class="tabs">
       <li><a href="#items">{% trans "Tuotteet" %}</a></li><li><a href="#dispatch">{% trans "Tilaus" %}</a></li><li><a href="#delivery">{% trans "Toimitus" %}</a></li>
    </ul>

<form method="post" rel="purchase-orders" accept-charset="utf-8" action="/store/save_po">
    {% csrf_token %}
    {% if order.id %}
    <input type="hidden" name="id" value="{{ order.id }}"/>
    {% endif %}

    <div id="items" class="tab">
        <table>
            <thead>
                <tr>
                    <th class="short">{% trans "Koodi" %}</th>
                    <th>{% trans "Nimike" %}</th>
                    <th>{% trans "Kpl" %}</th>
                    <th>{% trans "Hinta" %}</th>
                </tr>
            </thead>
            <tbody>
{% for item in products %}
              <tr>
                <td><input type="text" name="code" value="{{ item.code }}"/></td>
                <td><input type="text" name="title" value="{{ item.title }}"/></td>
                <td><input type="text" name="amount" value="{{ item.amount_ordered }}"/></td>
                <td><input type="text" class="price" name="price" value="{{ item.price_purchase }}"/></td>
              </tr>
{% endfor %}
                <tr>
                  <td colspan="5" style="text-align:right">{% trans "Yhteensä" %}: {{ order.total }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="dispatch" class="tab">
        <label>{% trans "Huoltotilaus" %}:</label>
        <input type="text" name="reference" value="{{ order.reference }}"/>
        <br/>
        <label>{% trans "Vahvistusnro" %}:</label>
        <input type="text" name="confirmation" value="{{ order.confirmation }}"/>
        <br/>
        <label>{% trans "Tilausviite" %}:</label>
        <input type="text" name="dispatch_id" value="{{ order.dispatch_id }}"/>
        <br/>
        <label>{% trans "Maksuviite" %}:</label>
        <input type="text" name="sales_order" value="{{ order.sales_order }}"/>
        <br/>
        <label>{% trans "Tilattu" %}:</label>
        <input type="text" class="datepicker" name="date_ordered" value="{{ order.date_ordered }}"/>
    </div><!-- //#dispatch -->
    
    <div id="delivery" class="tab">
        <label>{% trans "Toimittaja" %}:</label>
        <input type="text" name="supplier" class="autocomplete" data-type="supplier" value="{{ order.supplier }}"/>
        <br/>
        <label>{% trans "Toimitusaika" %}:</label>
        <input type="text" name="days_delivered" value="{{ order.days_delivered }}"/>
        <br/>
        <label>{% trans "Saapuu" %}:</label>
        <input type="text" class="datepicker" name="date_arrived" value="{{ order.date_arrived }}"/>
        <br/>
        <label>{% trans "Toimitustapa" %}:</label>
        <input type="text" name="carrier" value="{{ order.carrier }}"/>
        <br/>
        <label>{% trans "Seurantanro" %}:</label>
        <input type="text" name="tracking_id" value="{{ order.tracking_id }}"/>
    </div><!-- //#delivery -->
</form>
</div>
<script type="text/javascript">
    $('.datepicker').datepicker({dateFormat: "d.m.yy"});

</script>