{% load i18n %}
{% load extras %}
<table>
	<thead>
		<tr>
			<th colspan="2">{% trans "Laitteet" %}</th>
			<th>{% trans "Käyttäjä" %}</th>
			<th>{% trans "Salasana" %}</th>
			<th>{% trans "MRI status" %}</th>
		</tr>
	</thead>
	<tbody>
{% for device in order.devices.all %}
    	<tr data-url="/device/edit/{{ device.id }}" class="{% cycle 'odd' 'even' %}">
	    	<td><a href="/device/edit/{{ device.id }}" class="popup">{{ device.sn }}</a></td>
	    	<td>{{ device.description }}</td>
	    	<td>{{ device.username }}</td>
	    	<td>{{ device.password }}</td>
	    	<td><a href="/device/mri/sn/{{ device.sn }}">{% trans "Tuntematon" %}</a></td>
    	</tr>
{% endfor %}
	</tbody>
</table>
