{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans "Huoltotilaus #" %}{{ order.id }}{% endblock title %}

{% block secondary %}
    
    <div class="new view button shownext"></div>
    <div class="view popup-menu" style="top:45px">
        <ul>
            <li><a class="popup" href="/customer/create/order/{{ order.id }}">{% trans "Lisää asiakas" %}...</a></li>
            <li><a class="popup" href="/device/create/order/{{ order.id }}">{% trans "Lisää laite" %}...</a></li>
            <li><a class="popup" href="/issue/create/order/{{ order.id }}/">{% trans "Lisää tehtävä" %}...</a></li>
            <li><a class="popup" href="/product/create/order/{{ order.id }}/">{% trans "Lisää tuote" %}...</a></li>
            <li><a class="popup" href="/message/create">{% trans "Lisää viesti" %}...</a></li>
        </ul>
    </div>

    <div class="delete view button popup disabled" style="left:40px"></div>

    <div class="message view button shownext" style="left:80px"></div>
    <div class="view popup-menu" style="top:45px" id="note-actions">
        <ul>
            <li><a href="/message/0/reply/" class="popup">{% trans "Lisää vastaus" %}...</a></li>
            <li><a href="/issue/0/diagnosis/" class="popup">{% trans "Lisää diagnoosi" %}...</a></li>
            <li><a href="/issue/0/solution/" class="popup">{% trans "Lisää ratkaisu" %}...</a></li>
        </ul>
    </div>

    <div class="view button print shownext" style="left:120px"></div>
    <div class="view popup-menu" style="top:45px;left:100px">
        <ul>
    {% if order.queue.order_template  %}
            <li><a href="/orders/{{ order.id }}/print/{{ order.queue.order_template.id }}" class="window">{% trans "Tulosta huoltotilaus" %}</a></li>
    {% endif %}
    {% if order.queue.quote_template  %}
            <li><a href="/orders/{{ order.id }}/print/quote/{{ order.queue.quote_template.id }}" class="window">{% trans "Tulosta kustannusarvio" %}</a></li>
    {% endif %}
    {% if order.queue.receipt_template  %}
            <li><a href="/orders/{{ order.id }}/print/receipt/{{ order.queue.receipt_template.id }}" class="window">{% trans "Tulosta kuitti" %}</a></li>
    {% endif %}
    {% if order.queue.dispatch_template  %}
            <li><a href="/orders/{{ order.id }}/print/dispatch/{{ order.queue.dispatch_template.id }}" class="window">{% trans "Tulosta lähete" %}</a></li>
    {% endif %}
        </ul>
    </div>

    <div class="view button gear shownext" style="left:160px"></div>
    <div class="view popup-menu" style="top:45px;left:160px">
        <ul>
{% if order.products %}
            <li><a href="/purchase-order/create/order/{{ order.id }}" class="popup">{% trans "Tilaa tuotteet" %}...</a></li>
            <li><a href="/products/reserve/{{ order.id }}" class="popup">{% trans "Varaa tuotteet" %}…</a></li>
            <li><a href="/store/dispatch/order/{{ order.id }}" class="popup">{% trans "Toimita tilaus" %}...</a></li>
{% endif %}
            <li><a href="/orders/{{ order.id }}/close/" class="popup">{% trans "Sulje tilaus" %}...</a></li>
        </ul>
	</div>

{% endblock secondary %}

{% block sidebar %}

<div class="block_header">
    <p style="padding:10px">
        <a href="/orders/">Servo &gt; </a><a href="/orders/edit/{{ order.id }}">#{{ order.id }}</a>
    </p>
</div>
<div style="padding:5px" class="droppable">
    <form action="/orders/update/{{ order.id }}" method="post">
        {{ form.as_p }}
    </form>
    <hr/>
    <div id="customers" class="customerDetails" data-url="/orders/customer/{{ order.id }}">
      {% include "orders/customer.html" %}
    </div>

    <form id="miniform" method="post" action="/message/save">
        {% csrf_token %}
        <input type="hidden" name="order" value="{{ order.id }}"/>
        <span class="label">{% trans "Pikaviesti" %}</span>
        <textarea name="body" id="minimessage"></textarea>
    </form>
    <div class="buttons">
        <a href="javascript:;" class="save button"><span>{% trans "Tallenna" %}</span></a>
        <a href="/orders/follow/{{ order.id }}" class="follow button"><span>{% trans "Seuraa" %}</span></a>
    </div>
</div>

{% endblock %}

{% block content %}

<div id="devices" class="tableView" data-url="/orders/{{ order.id }}/devices/">
    {% if order.devices.count %}
        {% include "orders/devices.html" %}
    {% endif %}
</div>

<div id="issues" class="tableView" data-url="/orders/{{ order.id }}/issues/">
  {% if order.issue_set.count %}
    {% include "orders/issues.html" %}
  {% endif %}
</div><!-- //#issues -->

<div class="tableView" id="messages" data-url="/orders/{{ order.id }}/messages/">
    {% if order.messages %}
        {% include "orders/messages.html" %}
    {% endif %}
</div><!-- //#messages -->

<div id="products" class="tableView" data-url="/orders/{{ order.id }}/products/">
    {% if order.orderitem_set.count %}
        {% include "orders/products.html" %}
    {% endif %}
</div><!-- //#products -->

<div id="events" data-url="/orders/{{ order.id }}/events/">
    {% include "orders/events.html" %}
</div>

{% endblock %}
