{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans "Huoltotilaus #" %}{{ order.id }}{% endblock title %}

{% block toolbar %}

<ul class="navigation">
    <li><a href="/customer/create/order/{{ order.id }}" class="popup customer">{% trans "Asiakas" %}</a></li>
    <li><a href="/device/create/order/{{ order.id }}" class="popup device">{% trans "Laite" %}</a></li>
    <li><a href="/issue/create/order/{{ order.id }}" class="popup issue">{% trans "Tehtävä" %}</a></li>
    <li><a href="/products/create/order/{{ order.id }}" class="popup product">{% trans "Tuote" %}</a></li>
    <li><a href="/message/create" class="popup message">{% trans "Viesti" %}</a></li>
</ul>

{% endblock %}

{% block secondary %}

<li><a href="javascript:;" class="reply disabled popup"></a>
    <ul></ul>
</li>

<li>
    <a href="javascript:;" class="print"></a>
    <ul>
{% for tpl in order.queue.attachments  %}
        <li><a href="/orders/print/{{ order.id }}/template/{{ tpl.id }}" class="window">{{ tpl.name }}</a></li>
{% endfor %}
    </ul>
</li>

<li>
    <a href="javascript:;" class="gear"></a>
    <ul>
{% if order.devices %}
        <li><a href="/orders/gsx_repair/{{ order.id }}" class="popup">{% trans "Luo GSX korjaus" %}...</a></li>
{% endif %}
{% if order.products %}
        <li><a href="/purchase-order/create/order/{{ order.id }}" class="popup">{% trans "Tilaa tuotteet" %}...</a></li>
        <li><a href="/products/reserve/{{ order.id }}" class="popup">{% trans "Varaa tuotteet" %}…</a></li>
        <li><a href="/store/dispatch/order/{{ order.id }}" class="popup">{% trans "Toimita tilaus" %}...</a></li>
{% endif %}
        <li><a href="/orders/close/id/{{ order.id }}" class="popup">{% trans "Sulje tilaus" %}...</a></li>
	</ul>
</li>

{% endblock secondary %}

{% block sidebar %}

<div class="block_header">
    <p style="padding:10px">
        <a href="/orders/">Servo &gt; </a><a href="/orders/edit/{{ order.id }}">{{ order.number }}</a>
    </p>
</div>
<div style="padding:5px" class="droppable">
  <form action="/orders/update/{{ order.id }}" method="post">
    <span class="label">{% trans "Jono" %}</span>
    <select name="queue">
      <option value="">{% trans "Valitse" %}...</option>
{% for queue in queues %}
      <option value="{{ queue.id }}">{{ queue.title }}</option>
{% endfor %}
    </select>
    <br/>
    <span class="label">{% trans "Status" %}</span>
    <select name="status">
      <option value="">{% trans "Valitse" %}...</option>
{% for status in statuses %}
      <option value="{{ status.id }}">{{ status.title }}</option>
{% endfor %}
    </select>
    <br/>
    <span class="label">{% trans "Käsittelijä" %}</span>
    <select name="user">
      <option value="">{% trans "Valitse" %}...</option>
{% for user in users %}
      <option value="{{ user.id }}">{{ user.fullname }}</option>
{% endfor %}
    </select>
    <br/>
    <span class="label">{% trans "Prioriteetti" %}</span>
    <select name="priority">
      <option value="">{% trans "Valitse" %}...</option>
{% for p in priorities %}
      <option value="{{ forloop.counter0 }}">{{ p }}</option>
{% endfor %}
    </select>
    </form>
    <hr/>
    <div id="tags" data-url="/orders/tags/{{ order.id }}" style="border-bottom:none">
        <ul>
{% for tag in order.tags.all %}
            <li class="draggable"><a href="/orders/index/tag/{{ tag.id }}">{{ tag.title }}</a></li>
{% endfor %}
        </ul>
      
      <div id="newTagTarget"><a class="tag" id="add_tag" href="/tag/create/order">{% trans "Lisää" %}</a></div>
      <script type="text/javascript">
          $(".draggable").draggable({revert: "invalid", zIndex: 1000, opacity: 0.5});

          $("#add_tag").click(function(e) {
              e.preventDefault();
              $("#newTagTarget").load($(this).attr("href"), {
                action: "/orders/tags/{{ order.id }}"
              });
          });

          $(".droppable").droppable({
              drop: function(event, ui) {
                  ui.draggable.fadeOut();
                  $.post($("#tags").data("url"),
                      {action: "remove", title: ui.draggable.text()}
                  );
              }
          });
      </script>
      
    </div>
    <br/>
    <hr/>
    <div id="customers" class="customerDetails" data-url="/orders/customer/{{ order.id }}">
      {% include "orders/customer.html" %}
    </div>

    <form id="miniform" method="post" action="/message/save">
      {% csrf_token %}
      <input type="hidden" name="order" value="{{ order.id }}"/>
      <span class="label">{% trans "Pikaviesti" %}</span>
      <textarea name="body" id="minimessage"></textarea>
    </form>
    <div class="buttons">
        <a href="javascript:;" class="save button"><span>{% trans "Tallenna" %}</span></a>
        <a href="/orders/follow/{{ order.id }}" class="follow button"><span>{% trans "Seuraa" %}</span></a>
    </div>
</div>

{% endblock %}

{% block content %}

<div id="devices" class="tableView" data-url="/orders/devices/{{ order.id }}">
  {% if order.devices %}
    {% include "orders/devices.html" %}
  {% endif %}
</div>

<div id="issues" class="tableView" data-url="/orders/issues/{{ order.id }}">
  {% if order.issues %}
    {% include "orders/issues.html" %}    
  {% endif %}
</div><!-- //#issues -->

<div class="tableView" id="messages" data-url="/orders/messages/{{ order.id }}">
  {% if order.messages %}
    {% include "orders/messages.html" %}
  {% endif %}
</div><!-- //#messages -->

<div id="products" class="tableView" data-url="/orders/products/{{ order.id }}">
  {% if order.products %}
    {% include "orders/products.html" %}
  {% endif %}
</div><!-- //#products -->

<div id="events" data-url="/orders/events/id/{{ order.id }}">
{% include "orders/events.html" %}
</div>

{% endblock %}
