{% extends request.is_ajax|yesno:"empty.html,default.html" %}
{% load i18n %}
{% load extras %}

{% block title %}{{ data.count }} tilausta{% endblock title %}

{% block order_searches %}
    {% for s in searches %}
        <li><a href="/orders/index/search/{{ s.id }}" class="gear draggable">{{ s.title }}</a></li>
    {% endfor %}
{% endblock order_searches %}

{% block secondary %}
    <div class="button view new" title="{% trans "Uusi tilaus" %}" data-url="/orders/create"></div>
    <div class="button view delete disabled" title="{% trans "Poista tilaus" %}" data-url="/orders/delete" style="left:40px"></div>
    <div class="button view search popup" title="{% trans "Hae tilauksia" %}" data-url="/orders/search" style="left:80px"></div>
{% endblock secondary %}

{% block content %}
<div class="tableView">
    <table id="orders" data-url="/orders/">
        <tbody>
{% for order in data %}
            <tr data-url="/orders/{{ order.id }}/" class="{% cycle  'odd' 'even' %}">
                <td style="width:40px"><a href="/orders/{{ order.id }}/">{{ order.id }}</a></td>
                <td><a href="/orders/index/date/{{ order.created_at|date:"Y-m-d" }}">{{ order.created_at|relative_date }}</a></td>
                <td><a href="/orders/index/customer/{{ order.customer.id }}">{{ order.customer_name }}</a></td>
                <td><a href="/orders/index/spec/{{ order.device_spec }}">{{ order.device_name }}</a></td>
                <td><a href="/orders/index/status/{{ order.status_id }}">{{ order.status_name }}</a>
                    <img src="/static/images/status_{{ order.status_img }}_16.png" style="float:right"/>
                </td>
            </tr>
{% empty %}
            <tr><td colspan="5" class="empty">{% trans "Ei yhtään tilausta" %}</td></tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
