{% extends "default.html" %}
{% load i18n %}
{% load extras %}

{% block toolbar %}

  <ul>
    <li><a href="/orders/create">{% trans "Uusi tilaus" %}</a></li>
  </ul>

{% endblock %}

{% block content %}
<div class="tableView">
    <table id="orders" data-url="/orders/">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Luotu" %}</th>
                <th>{% trans "Asiakas" %}</th>
                <th>{% trans "Laite" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody data-collection="orders">
{% for order in data %}
          <tr data-url="/orders/edit/{{ order.id }}" class="{% cycle  'odd' 'even' %}">
              <td><a href="/orders/edit/{{ order.id }}">{{ order.number }}</a></td>
              <td><a href="/orders/index/%s/%s">{{ order.created_at|relative_date }}</a></td>
              <td><a href="/orders/index/customer/{{ order.customer.id }}">{{ order.customer_name }}</a></td>
              <td><a href="/orders/index/spec/{{ order.device_spec }}">{{ order.device_name }}</a></td>
              <td><a href="/orders/index/status/{{ order.status_id }}">{{ order.status_name }}</a>
                <img src="/static/images/status_{{ order.status_img }}_16.png" style="float:right"/>
              </td>
          </tr>
{% empty %}
    <tr><td colspan="5" class="empty">{% trans "Ei yhtään tilausta" %}</td></tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
