{% load i18n %}
{% load extras %}
<table>
	<thead><tr><th>{% trans 'Viestit' %}</th></tr></thead>
	<tbody>
{% for msg in order.messages %}
        <tr data-url="/message/edit/{{ msg.id }}" class="{% cycle 'odd' 'even' %}">
            <td style="padding-left:{{ msg.indent }}em">
                <span class="user">{{ msg.sender.username }}</span>
                <span class="date">{{ msg.created_at|relative_date }}</span>
{% if msg.mailto %}<span class="email">{{ msg.mailto }}</span>{% endif %}<br/>
        {{ msg.body }}
    {% for file in msg.attachments.all %}
          <a class="window attachment" href="/document/view/{{ file.id }}">{{ file.name }}</a>
    {% endfor %}
        </td>
      </tr>
{% endfor %}
	</tbody>
</table>
