{% load i18n %}
{% load extras %}
<table>
    <thead><tr><th colspan="4">{% trans 'Tehtävät' %}</th></tr></thead>
    <tbody>
{% for note in order.notes %}
        <tr class="{% cycle 'odd' 'even' %}" data-url="/note/edit/{{ note.id }}">
            <td>
                <span class="user">{{ note.created_by.username }}</span>
                <span class="date">{{ note.created_at|relative_date }}</span>
                <p style="padding-left:{{ note.note_set.count }}em">{{ note.description }}</p>
            </td>
        </tr> 
{% endfor %}
    </tbody>
</table>
