{% load i18n %}
<table>
    <thead><tr><th colspan="5">{% trans "Tuotteet" %}</th></tr></thead>
    <tbody>
{% for item in order.products.all %}
        <tr data-url="/products/edit/order/{{ forloop.counter0 }}" class="{% cycle 'odd' 'even' %}">
            <td><a href="/products/edit/order/{{ forloop.counter0 }}" class="popup">{{ item.code }}</a></td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td><a href="/purchase-order/view/id/" class="popup">20116</a></td>
            <td><a href="/orders/report/product/{{ item.id }}" class="async report"></a></td>
        </tr>  
{% endfor %}
    </tbody>
</table>
