{% load i18n %}
<table>
    <thead><tr><th colspan="5">{% trans "Tuotteet" %}</th></tr></thead>
    <tbody>
        {% with order.orderitem_set.all as products %}
{% for item in products %}
        <tr data-url="/orders/{{ order.id }}/product/{{ item.id }}/" class="{% cycle 'odd' 'even' %}">
            <td><a href="/products/edit/order/{{ item.id }}" class="popup">{{ item.product.code }}</a></td>
            <td>{{ item.product.title }}</td>
            <td>{{ item.product.price }}</td>
            <td><a href="/purchase-order/view/id/" class="popup">20116</a></td>
            <td><a href="/orders/report/product/{{ item.id }}" class="async report"></a></td>
        </tr>  
{% endfor %}
{% endwith %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align:right">{% trans "Yhteensä" %}:</td>
            <td></td>
        </tr>
    </tfoot>
</table>
