{% extends "admin/queues/index.html" %}
{% load i18n %}

{% block admin_content %}
<form method="post" accept-charset="utf-8" class="form-horizontal" enctype="multipart/form-data"  action="">
  {% csrf_token %}
  {% for form in queue_formset %}
    {{ form }}
  {% endfor %}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">{% trans "Perustiedot" %}</a></li>
    <li><a href="#tab2" data-toggle="tab">{% trans "Statukset" %}</a></li>
    <li><a href="#tab3" data-toggle="tab">{% trans "Pohjat" %}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {% include "form_field_snippet.html" with field=form.title %}
      {% include "form_field_snippet.html" with field=form.description %}
      {% include "form_field_snippet.html" with field=form.gsx_account %}
      {% include "form_field_snippet.html" with field=form.default_status %}
    </div>
    <div class="tab-pane" id="tab2">
    {% for f in status_forms %}
      <div class="control-group">
        {{ f.enabled }}
        {{ f.title }}
        {{ f.limit_green }}
        {{ f.limit_yellow }}
        {{ f.limit_factor }}
      </div>
    {% endfor %}
    </div>
    <div class="tab-pane" id="tab3">
      {% include "form_field_snippet.html" with field=form.order_template %}
      {% include "form_field_snippet.html" with field=form.receipt_template %}
      {% include "form_field_snippet.html" with field=form.dispatch_template %}
    </div>
  </div>
  {% include "form_buttons.html" %}
</form>

{% endblock admin_content %}
