{% extends "modal.html" %}
{% load i18n %}

{% block header %}
    <h2>{% blocktrans with queue.title as title %}Poistetaanko jono "{{ title }}"?{% endblocktrans %}</h2>
{% endblock header %}

{% block body %}
  <p>{% trans "Tätä toimintoa ei voida peruuttaa." %}</p>  
{% endblock body %}

{% block footer %}
    <form action="{{ queue.id }}/remove/" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">{% trans "Poista" %}</button>
    </form>    
{% endblock footer %}
