{% extends "default.html" %}
{% load servo_extras %}
{% block content %}
{% load i18n %}

{% if customers %}
<h3>{% trans "Asiakkaat" %}</h3>
{% include "customers/list.html" %}
{% endif %}
<a href="/customers/create/{{ query }}/" class="btn btn-primary pull-right">{% trans "Uusi asiakas" %}</a>

{% if products %}
<h3>{% trans "Tuotteet" %}</h3>
{% include "products/list.html" %}
{% endif %}

{% if orders %}
<h3>{% trans "Tilaukset" %}</h3>
{% include "orders/list.html" %}
{% endif %}

{% if notes %}
<h3>{% trans "Merkinnät" %}</h3>
{% include "orders/notes.html" %}
{% endif %}

{% if devices %}
<h3>{% trans "Laitteet" %}</h3>
{% include "devices/list.html" %}
{% endif %}

{% if gsx %}
<h3>GSX</h3>
{% include "search/results-gsx.html" %}
{% endif %}
{% endblock content %}
