{% extends "admin/index.html" %}
{% load i18n %}

{% block admin_content %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="/admin/templates/">{% trans "Kaikki" %}</a></li>
		<li class="pull-right"><a href="/admin/templates/new/">{% trans "Luo pohja" %}</a></li>
	</ul>
	<table class="table">
	{% for t in templates %}
		<tr>
			<td>{{ t.title }}</td>
			<td>{{ t.body }}</td>
			<td>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url admin.views.edit_template t.id %}">{% trans "Muokkaa" %}</a></li>
          <li><a href="{% url admin.views.remove_template t.id %}">{% trans "Poista" %}</a></li>
        </ul>
      </div>
    </td>
		</tr>
	{% endfor %}
	</table>

{% endblock admin_content %}
