{% extends "default.html" %}
{% load i18n %}
{% block navtabs %}
<ul class="nav nav-tabs" id="navtabs">
	<li><a href="/home/messages/">{% trans "Kaikki" %}</a></li>
	<li><a href="/home/messages/unread/">{% trans "Uudet" %}</a></li>
	<li><a href="/home/messages/sent/">{% trans "Lähetetyt" %}</a></li>
	<li class="pull-right"><a href="/messages/new/">{% trans "Luo viesti" %}</a></li>
</ul>
{% endblock navtabs %}
{% block content %}
<div class="row">
	<div class="span4">
		<ul class="nav nav-pills nav-stacked">
		{% for m in msgs %}
			<li><a href="/home/messages/{{ m.id }}/">{{ m.body|truncatechars:32 }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="span8">
		{% block view_message %}
			<h4>{% trans "Valitse viesti" %}...</h4>
		{% endblock view_message %}
	</div>
</div>
{% endblock content %}
