{% extends "default.html" %}
{% load i18n %}

{% block content %}
<form action="{% url accounts.views.settings %}" method="post" accept-charset="utf-8">
  {% csrf_token %}
  <label>{% trans "Puhelin" %}:</label>
  {{ form.phone }}
  <br/>
  <label>{% trans "Salasana" %}:</label>
  <input type="password" name="password" />
  <br/>
  <label>{% trans "Varmistus" %}:</label>
  <input type="password" name="password-conf"/>
  <br/>
  <label>{% trans "Tech ID" %}:</label>
  {{ form.tech_id }}
  <br/>
  <label>{% trans "Toimipaikka" %}:</label>
  {{ form.location }}
  <br/>
  <label>{% trans "Kieli" %}:</label>
  <select name="locale">
    <option value="fi_FI">{% trans "Suomi" %}</option>
    <option value="en_US">{% trans "Englanti" %}</option>
    <option value="et_EE">{% trans "Viro" %}</option>
  </select>
  <br/>
  <button type="submit" class="btn btn-primary">{% trans "Tallenna" %}</button>
</form>
{% endblock content %}
