{% extends "admin/index.html" %}
{% load i18n %}

{% block admin_content %}
<form method="post" accept-charset="utf-8" action="" class="form-horizontal" enctype="multipart/form-data">
  {% csrf_token %}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab">{% trans "Yleiset" %}</a></li>
    <li><a href="#imap" data-toggle="tab">{% trans "Tuleva posti" %}</a></li>
    <li><a href="#smtp" data-toggle="tab">{% trans "Lähtevä posti" %}</a></li>
    <li><a href="#sms" data-toggle="tab">{% trans "SMS" %}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="general">
      {% include "form_field_snippet.html" with field=form.company_name %}
      {% include "form_field_snippet.html" with field=form.pct_margin %}
      {% include "form_field_snippet.html" with field=form.pct_vat %}
      {% include "form_field_snippet.html" with field=form.shipping_cost %}
      {% include "form_field_snippet.html" with field=form.logo %}
    </div>
    <div class="tab-pane" id="imap">
      {% include "form_field_snippet.html" with field=form.mail_from %}
      {% include "form_field_snippet.html" with field=form.imap_host %}
      {% include "form_field_snippet.html" with field=form.imap_user %}
      {% include "form_field_snippet.html" with field=form.imap_password %}
      {% include "form_field_snippet.html" with field=form.imap_ssl %}
    </div>
    <div class="tab-pane" id="smtp">
      {% include "form_field_snippet.html" with field=form.smtp_host %}
      {% include "form_field_snippet.html" with field=form.smtp_user %}
      {% include "form_field_snippet.html" with field=form.smtp_password %}
      {% include "form_field_snippet.html" with field=form.smtp_ssl %}
    </div>
    <div class="tab-pane" id="sms">
      {% include "form_field_snippet.html" with field=form.sms_url %}
      {% include "form_field_snippet.html" with field=form.sms_user %}
      {% include "form_field_snippet.html" with field=form.sms_password %}
      {% include "form_field_snippet.html" with field=form.sms_ssl %}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Tallenna" %}</button>
  </div>
</form>
{% endblock admin_content %}
