{% extends "admin/index.html" %}
{% load i18n %}

{% block admin_content %}
<ul class="nav nav-tabs" id="navtabs">
	<li><a href="{% url servo.views.admin.users %}">{% trans "Käyttäjät" %}</a></li>
	<li><a href="{% url servo.views.admin.groups %}">{% trans "Ryhmät" %}</a></li>
	<li class="pull-right"><a href="/admin/users/new">{% trans "Luo käyttäjä" %}</a></li>
</ul>

<table>
{% for user in users %}
	<tr>
		<td><a href="/admin/users/{{ user.id }}/edit/">{{ user.username }}</a></td>
		<td>{{ user.fullname }}</td>
		<td>{{ user.email }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
