{% extends "products/index.html" %}
{% load i18n %}

{% block products_sidebar %}
{% endblock products_sidebar %}

{% block products_content %}
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {{ form.component_code }}
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">{% trans "Yleiset" %}</a></li>
      <li><a href="#tab2" data-toggle="tab">{% trans "Hinnat" %}</a></li>
      <li><a href="#tab3" data-toggle="tab">{% trans "Saldot" %}</a></li>
      <li><a href="#tab4" data-toggle="tab">{% trans "Lisätiedot" %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        {% include "form_field_snippet.html" with field=form.title %}
        {% include "form_field_snippet.html" with field=form.code %}
        {% include "form_field_snippet.html" with field=form.description %}
        {% include "form_field_snippet.html" with field=form.is_serialized %}
      </div>
      <div class="tab-pane" id="tab2">
        {% include "form_field_snippet.html" with field=form.pct_vat %}
        {% include "form_field_snippet.html" with field=form.pct_margin %}
        {% include "form_field_snippet.html" with field=form.price_notax %}
        {% include "form_field_snippet.html" with field=form.price_purchase %}
        {% include "form_field_snippet.html" with field=form.price_exchange %}
        {% include "form_field_snippet.html" with field=form.price_sales %}
      </div>
      <div class="tab-pane" id="tab3">
        {% include "form_field_snippet.html" with field=form.amount_minimum %}
        {% include "form_field_snippet.html" with field=form.amount_reserved %}
        {% include "form_field_snippet.html" with field=form.amount_stocked %}
        {% include "form_field_snippet.html" with field=form.amount_ordered %}
      </div>
      <div class="tab-pane" id="tab4">
        {% include "form_field_snippet.html" with field=form.warranty_period %}
        {% include "form_field_snippet.html" with field=form.brand %}
        {% include "form_field_snippet.html" with field=form.tags %}
      </div>
    </div>
    {% include "form_buttons.html" %}
  </form>
{% endblock products_content %}
