{% extends "products/index.html" %}
{% load i18n %}

{% block title %}{% trans "Saapuvat tuotteet" %}{% endblock title %}

{% block products_content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">{% trans "Tulossa" %}</a></li>
  <li><a href="#tab2" data-toggle="tab">{% trans "Saavutetut" %}</a></li>
</ul>
<form method="post">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>{% trans "Koodi" %}</th>
        <th>{% trans "Nimike" %}</th>
        <th>{% trans "Tilaaja" %}</th>
        <th>{% trans "Vahvistus" %}</th>
        <th>{% trans "Sarjanumero" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for i in inventory %}
      <tr>
        <td><a href="?i={{ i.pk }}">{{ i.pk }}</a></td>
        <td>{{ i.product.code }}</td>
        <td>{{ i.product.title }}</td>
        <td>{{ i.purchase_order.created_by }}</td>
        <td>{{ i.purchase_order.reference }}</td>
        <td>{{ i.sn }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="?i={{ inventory.0.id }}" class="btn btn-primary pull-right">{% trans "Jatka..." %}</a>
</form>
{% endblock products_content %}
