{% extends "three_column_layout.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{{ products|length }} {% trans "tuotetta" %}{% endblock title %}

{% block left_column %}
  <ul id="navtabs" class="nav nav-list well well-small">
    <li class="nav-header">{% trans "Varasto" %}</li>
    <li><a href="/products/">{% trans "Tuotteet" %}</a></li>
    <li><a href="/products/incoming/" class="counter">{% trans "Saapuvat" %}</a></li>
    <li><a href="/products/outgoing/" class="counter">{% trans "Lähtevät" %}</a></li>
    <li><a href="/products/po/" class="counter">{% trans "Ostotilaukset" %}</a></li>
    <li><a href="/products/invoices/">{% trans "Laskut" %}</a></li>
  </ul>
{% endblock left_column %}

{% block middle_column %}
    <ul class="nav nav-tabs" id="navtabs">
      <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Tagi" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% for t in  tags %}
          <li><a href="{% url servo.views.product.index tag_id=t.id %}">{{ t.title }}</a></li>
        {% endfor %}
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Malli" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% for s in  specs %}
          <li><a href="{% url servo.views.product.index tag_id=s.id %}">{{ s.title }}</a></li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  {% include "products/list.html" %}
  {% include "pagination.html" with items=products %}
{% endblock middle_column %}

{% block right_column %}
  <a href="new/" class="btn btn-primary">{% trans "Luo tuote" %}</a>
{% endblock right_column %}
