{% extends "products/index.html" %}
{% load i18n %}

{% block title %}{% trans "Saapuvat tuotteet" %}{% endblock title %}

{% block middle_column %}
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url servo.views.product.index_incoming %}">{% trans "Tulossa" %}</a></li>
  <li><a href="#">{% trans "Saavutetut" %}</a></li>
</ul>
<form method="post" action="">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" class="toggle_column"/></th>
        <th>{% trans "Koodi" %}</th>
        <th>{% trans "Nimike" %}</th>
        <th>{% trans "Tilaaja" %}</th>
        <th>{% trans "Vahvistus" %}</th>
        <th>{% trans "Sarjanumero" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for i in inventory %}
      <tr>
        <td><input type="checkbox" name="id" value="{{ i.pk }}"/></td>
        <td><a href="?i={{ i.pk }}">{{ i.product.code }}</a></td>
        <td>{{ i.product.title }}</td>
        <td>{{ i.purchase_order.created_by }}</td>
        <td>{{ i.purchase_order.confirmation }}</td>
        <td>{{ i.sn }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="6" class="muted empty">{% trans "Ei yhtään saapuvaa tuotetta" %}</td></tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pull-right">
    <button type="submit" class="btn" disabled="disabled">{% trans "Saavuta" %}</button>
    <a href="?i={{ inventory.0.id }}" class="btn btn-primary">{% trans "Jatka..." %}</a>
  </div>
</form>
{% endblock middle_column %}
