{% extends "products/index.html" %}
{% load i18n %}

{% block middle_column %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "Tilaus" %}</th>
      <th>{% trans "Asiakas" %}</th>
      <th>{% trans "Summa" %}</th>
      <th>{% trans "Luotu" %}</th>
      <th>{% trans "Maksettu" %}</th>
      <th>{% trans "Maksutapa" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for i in invoices %}
    <tr>
      <td>{{ i.pk }}</td>
      <td><a href="{{ i.order.get_absolute_url }}">{{ i.order.code }}</a></td>
      <td>{{ i.customer_name }}</td>
      <td>{{ i.total_gross }}</td>
      <td>{{ i.created_at }}</td>
      <td>{{ i.paid_at }}</td>
      <td>{{ i.get_payment_method }}</td>
      <td>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">{% trans "Tulosta" %}</a></li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% include "pagination.html" with items=invoices %}
{% endblock middle_column %}
