{% load i18n %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "Koodi" %}</th>
      <th>{% trans "Nimike" %}</th>
      <th>{% trans "Myyntihinta" %}</th>
      <th>{% trans "Vaihtohinta" %}</th>
      <th>{% trans "Saldo" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for p in products %}
    <tr>
      <td><a href="{{ p.get_absolute_url }}">{{ p.id }}</a></td>
      <td>{{ p.code }}</td>
      <td>{{ p.title|truncatechars:30 }}</td>
      <td>{{ p.price_sales }}</td>
      <td>{{ p.price_exchange }}</td>
      <td>{{ p.amount_stocked }}</td>
      <td>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% with request.session.current_order as co %}
            {% if co %}
            <li><a href="{{ co.get_product_url p">{% trans "Vie tilaukselle" %} #{{ co.code }}</a></li>
            <li class="divider"></li>
            {% endif %}
            {% with request.session.current_po as po %}
              {% if po %}
                <li><a href="{% url products.views.edit_po id=po.id item_id=p.id action='add' %}">{% trans "Vie ostotilaukselle" %}</a></li>
                <li class="divider"></li>
              {% endif %}
            {% endwith %}
            {% endwith %}
            <li><a href="{% url orders.views.create product_id=p.id %}">{% trans "Luo myyntitilaus" %}</a></li>
            <li><a href="{% url products.views.create_po product_id=p.id %}">{% trans "Luo ostotilaus" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url products.views.edit p.id %}">{% trans "Muokkaa" %}</a></li>
            <li><a href="{% url products.views.remove p.id %}">{% trans "Poista" %}</a></li>
          </ul>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="8" style="text-align:center"><span class="muted">{% trans "Ei yhtään tuotetta" %}</span></td></tr>
  {% endfor %}
  </tbody>
</table>
