{% extends "products/index.html" %}
{% load i18n %}
{% block products_content %}
<ul class="nav nav-tabs" id="navtabs">
  <li><a href="{% url products.views.index_po %}">{% blocktrans with count=orders.count %} {{ count }} tilausta{% endblocktrans %}</a></li>
  <li class="pull-right">
    <a href="/products/purchase_orders/new/">{% trans "Luo tilaus" %}</a>
  </li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "Luotu" %}</th>
      <th>{% trans "Tilattu" %}</th>
      <th>{% trans "Saapunut" %}</th>
      <th>{% trans "Tilaus" %}</th>
      <th>{% trans "Toimittaja" %}</th>
      <th>{% trans "Tuotteita" %}</th>
      <th>{% trans "Summa" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for po in orders %}
    <tr>
      <td><a href="{{ po.get_absolute_url }}">{{ po.id }}</a></td>
      <td>{{ po.date_created }}</td>
      <td>{{ po.date_submitted }}</td>
      <td>{{ po.date_arrived }}</td>
      <td>{{ po.sales_order }}</td>
      <td>{{ po.supplier }}</td>
      <td>{{ po.amount }}</td>
      <td>{{ po.sum }}</td>
      <td>
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url products.views.order_stock po.id %}">{% trans "GSX stock" %}</a></li>
            <li class="divider"></li>
            <li><a href="{{ po.get_absolute_url }}">{% trans "Muokkaa" %}</a></li>
            <li><a href="{% url products.views.remove_po po.id %}">{% trans "Poista" %}</a></li>
          </ul>
          </div>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock products_content %}
