{% extends "products/index.html" %}
{% load i18n %}

{% block middle_column %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "Luotu" %}</th>
      <th>{% trans "Tilattu" %}</th>
      <th>{% trans "Saapunut" %}</th>
      <th>{% trans "Tilaus" %}</th>
      <th>{% trans "Toimittaja" %}</th>
      <th>{% trans "Tuotteita" %}</th>
      <th>{% trans "Summa" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for po in orders %}
    <tr>
      <td><a href="{{ po.get_absolute_url }}">{{ po.id }}</a></td>
      <td>{{ po.date_created }}</td>
      <td>{{ po.date_submitted }}</td>
      <td>{{ po.date_arrived }}</td>
      <td>{{ po.sales_order.code }}</td>
      <td>{{ po.supplier }}</td>
      <td>{{ po.amount }}</td>
      <td>{{ po.sum }}</td>
      <td>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url servo.views.product.order_stock po.id %}">{% trans "GSX stock" %}</a></li>
            <li class="divider"></li>
            <li><a href="{{ po.get_absolute_url }}">{% trans "Muokkaa" %}</a></li>
            <li><a href="{% url servo.views.product.remove_po po.id %}">{% trans "Poista" %}</a></li>
          </ul>
          </div>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% include "pagination.html" with items=orders %}
{% endblock middle_column %}

{% block right_column %}
  <a class="btn btn-success pull-right" href="/products/po/new/"><i class="icon-plus"></i> {% trans "Luo tilaus" %}</a>
{% endblock right_column %}